body,html{
  height: 100%;
  font-size: 18px;
}

.main-header{
  // background-image: url('images/narrow-banner.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  .header-navigation{
    font-family: $specialFont;
    font-weight: 300;
    font-size: 19px;
    width: 100%;
    padding: .6em 5% 0;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $white;
    min-height: $headerSize;
    z-index: 1;
    &:after{
      content: '';
      clear: both;
      display: block;
      height: 0;
    }
    >.left,>.right{
        height: 100%;
        max-width: 100%;
    }
    >.left{
      float: left;
      @media (max-width: $media-sm){
        position: absolute;
        top: 0;
        left: 0;
        padding: inherit;
        padding-right: 3em;
        z-index: -1;
      }
    }
    >.right{
      float: right;
    }
  }
  .header-banner{
    font-family: $mainFont;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    color: $white;
    font-size: 20px;
    font-weight: 300;
    word-spacing: -.25em;
    padding: 20px 1em;
    @media (min-width: $media-sm){
      font-size: 36px;
      &:before{
        content: '';
      }
    }
    &.huge,
    &.big{
      font-size: 33px;
      >.content{
        margin-bottom: 20px;
        >h1{
          margin-top: 35px;
        }
        >div{
          font-weight: 300;
        }
      }
    }
    &.huge{
      line-height: 1.4;
      font-weight: 100;
      h1{
        margin-bottom: 35px;
      }
      &:before{
        height: 720px;
      }
      .pair-block{
        letter-spacing: .5px;
        font-size: 18px;
        margin-top: 4em;
        line-height: 1.2em;
      }
    }
    &.big{
      padding-top: 45px;
      font-family: $specialFont;
      line-height: 1.2;
      &:before{
        height: 635px;
      }
      .pair-block{
        letter-spacing: .2px;
        font-size: 21px;
        margin-top: 3.2em;
        .title{
          font-family: $secondaryFont;
        }
      }
    }
    &:before{
      height: 105px;
      display: inline-block;
      vertical-align: middle;
    }
    .content{
      max-width: 100%;
      display: inline-block;
      vertical-align: middle;
      >h1{
        letter-spacing: 2px;
        &.special{
          letter-spacing: .7px;
          font-family: $secondaryFont;
        }
      }
      >p{
        margin: .5em auto;
        letter-spacing: 1px;
        white-space: pre-line;
      }
    }
  }
}

.main-content{
  line-height: 1.4;
  color: $inactiveFont;
  padding-top: 5px;
  padding-bottom: 15px;
  font-family: $secondaryFont;

  >section{
    margin-top: 40px;
    .font-white{
      h2.title{
        color: inherit;
      }
    }
    .custom-title{
      font-family: $mainFont;
      padding-top: 20px;
      font-weight: 500;
      font-size: 1.1em;
      color: $color_96;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .3px;
    }
    .special-title,
    .title{
      color: $color_6e;
      text-align: center;
      letter-spacing: .8px;
    }
    .special-title{
      >span{
        text-transform: uppercase;
        display: inline-block;
        line-height: 1.4em;
      }
    }
    .title{
      margin-bottom: 35px;
      font-weight: 600;
      >span{
        font-size: .86em;
        font-weight: 100;
        letter-spacing: .6px;
      }
    }

    h2.special-title,
    h2.title{
      font-size: 1.6em;
    }

    h3.special-title,
    h3.title{
      font-size: 1.3em;
    }

    .posts{
      font-size: 1.22em;
    }
  }

}

.footer{
  background: $warning;
  font-family: $secondaryFont;
  padding: 1em 0;
  font-weight: 300;
  color: $specialFontColor;
  text-align: center;
  letter-spacing: 1px;
  .footer-nav{
    .left, .right{
      margin: .8em auto;
      display: block;
    }
    @media (min-width: $media-sm){
      &:after{
        content: '';
        clear: both;
        display: block;
        height: 0;
      }
      .left{
        float: left;
      }
      .right{
        float: right;
      }
    }
  }
}

.container{
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @each $media in $medias{
    @media (min-width: nth($media, 2)){
      width: nth($media, 3);
    }
  }
}

.container-small{
  margin: 0 auto;
  @each $media in $medias{
    @media (min-width: nth($media, 2)){
      width: nth($media, 4);
    }
  }
}
