strong{
  font-weight: bold;
}

.font-accept{
  color: $accept;
}
.font-black{
  color: $black;
}

.font-white{
  color: $white;
}

.link{
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

h2:empty{
  display: none;
}

.font-mainFont{
  font-family: $mainFont;
}

.font-secondaryFont{
  font-family: $secondaryFont;
}

.font-specialFont{
  font-family: $specialFont;
}

.p-t-20{
  padding-top: 20px;
}

.p-t-25{
  padding-top: 25px;
}

.p-t-30{
  padding-top: 30px;
}

.p-t-40{
  padding-top: 40px;
}

.p-t-70{
  padding-top: 70px;
}

.p-t-80{
  padding-top: 80px;
}

.p-t-100{
  padding-top: 100px;
}

@media (min-width: $media-sm) {
  .p-t-sm-135{
    padding-top: 135px;
  }

  .p-t-sm-100{
    padding-top: 100px;
  }

  .p-t-sm-90{
    padding-top: 90px;
  }

  .p-t-sm-70{
    padding-top: 70px;
  }

  .p-t-sm-45{
    padding-top: 45px;
  }
}

.p-b-30{
  padding-bottom: 30px;
}

.p-b-40{
  padding-bottom: 40px;
}

.p-b-75{
  padding-bottom: 75px;
}

.bold{
  font-weight: bold;
}

.bold-600{
  font-weight: 600;
}

.bold-500{
  font-weight: 500;
}

.bold-400{
  font-weight: 400;
}

.italic{
  font-style: italic;
}

.font-19{
    font-size: 19px;
}

.font-20{
    font-size: 20px;
}


%circle{
  @include border-radius(100%);
  padding: .3em;
}

.bg-purple{
  @extend %circle;
  background-color: $purple;
}

.bg-orange{
  @extend %circle;
  background-color: $orange;
}

.bg-red{
  @extend %circle;
  background-color: $red;
}

.font-thin{
  font-weight: 100;
}

.font-thin-300{
  font-weight: 300;
}

.un-line{
  text-decoration: underline;
}

.up-c{
  text-transform: uppercase;
}


.font-liquid-medium{
  font-size: 1.5em;
  @media (min-width: $media-md){
    font-size: 1.3em;
  }

  @media (min-width: $media-xl){
    font-size: 2em;
  }
  @media (min-width: $media-xxl){
    font-size: 2.3em;
  }
}
.font-liquid-huge{
  font-size: 1.5em;
  @media (min-width: $media-md){
    font-size: 2em;
  }
  @media (min-width: $media-xl){
    font-size: 2.5em;
  }
  @media (min-width: $media-xxl){
    font-size: 2.9em;
  }
}

u.white{
  display: inline-block;
  border-bottom: 1px solid $white;
  text-decoration: none;
  line-height: 1.4;
}

u.black{
  display: inline-block;
  border-bottom: 1px solid $black;
  text-decoration: none;
  padding-bottom: .2em;
}

.color-00{
  color: #000000;
}

.font-24{
  font-size: 24px;
}

.font-28{
  font-size: 28px;
}

.font-33{
  font-size: 33px;
}

.bg-cover{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.color-78{
  color: $color_78;
}

.letter-spacing-1-5{
  letter-spacing: 1.5px;
}
