*,*:before,*:after{
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
select,
input,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    vertical-align: baseline;
    word-spacing: normal;
    white-space: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button,input,select{
  font-size: inherit;
  color: inherit;
  border: 0;
  box-shadow: none;
  -webkit-appearance: none;
  &:focus,
  &:hover{
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none;
  }
}

a,
a:visited,
a:hover,
a:focus,
a:target{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

label{
  display: inline-block;
  cursor: inherit;
}

select{
  text-transform: inherit;
}

fieldset{
  min-width: auto;
}
