$white: #ffffff;
$black: #646464;
$dominant: $white;
$inactive: #eee;
$accept: #11e9de;
$warning: #fee539;
$inactiveFont: #a7a7a7;
$specialFontColor: #698979;

$purple: #64459b;
$orange: #f1780b;
$red: #dc4335;

$attachedFonts: (
  "FaricyNew" '/faricy/FaricyNew'
    (
      '' '-Regular',
      'font-style: italic;' '-Italic',
      'font-weight: 600;' '-Bold',
      'font-weight: 600; font-style: italic;' '-BoldItalic',
      'font-weight: 100;' '-Light',
      'font-weight: 100; font-style: italic;' '-LightItalic',
      'font-weight: 300;' '-Light',
      'font-weight: 300; font-style: italic;' '-MediumItalic',
      ),
  // 'Helvetica Neue' '/helvetica-neue/HelveticaNeue'
  //   (
  //     '' 'CondensedBlack',
  //     'font-weight: bold;' 'CondensedBold',
  //   ),
  'DistrictProThin' '/district_thin_pro/DistProTh'
    ('' '',),
);

$mainFont: 'Raleway',Helvetica,Arial,sans-serif;
$secondaryFont: "FaricyNew",Arial,sans-serif;
$specialFont: "DistrictProThin",Arial,sans-serif;

$headerSize: 66px;

$medias: (
  'xs' 480px  100% 100%,
  'sm' 768px  750px 750px,
  'md' 1024px 970px 970px,
  'lg' 1200px 1170px 970px,
  'xl' 1400px 1170px 970px,
  'xxl' 1610px 1610px 970px,
);

$media-xs: nth( nth( $medias, 1 ), 2 );
$media-sm: nth( nth( $medias, 2 ), 2 );
$media-md: nth( nth( $medias, 3 ), 2 );
$media-lg: nth( nth( $medias, 4 ), 2 );
$media-xl: nth( nth( $medias, 5 ), 2 );
$media-xxl: nth( nth( $medias, 6 ), 2 );







/* Main page
  h3.title
  .wa-thumbs h3
*/
  $color_6e: #6e6e6e;

/* Main page
  posts list -> content -> links
  logo-list -> text

  Travel Page
  list -> author status -> font-color
  list -> delivery to -> font-color
  popup -> labels -> font-color
*/
  $color_78: #787878;

$color_f9: #f9f9f9; // Main Page contact block user image background

/* Main page
  contact-cart -> font color

  Shop Page
  preview font-color

  Travel Page
  list -> title -> font-color
  contact block -> title -> font-color
*/
$color_96: #969696;

/* Shop Page
  input field border
*/
$color_d7: #d7d7d7;

/* Shop Page
  preview bg-color
*/

$color_f0: #f0f0f0;

/* Travel Page
  inline form -> input -> border-color
*/

$color_e1: #e1e1e1;

/* Travel Page
  list -> border-color
*/

$color_ac: #acacac;

/* Travel Page
  list -> author name -> font-color
  list -> country -> font-color
  list -> price -> font-color
*/

$color_00: #000000;

/* Travel Page
  list -> reward -> font-color
*/

$color_01: #010101;

/* Travel Page
  contact block ->  sybmit-button -> font-color
*/

$color_fffefe: #fffefe;

/* Travel Page
  popup ->  imagelist -> border-color
*/

$color_b7: #b7b7b7;
