body,html{
  height: 100%;
  overflow: hidden;
  font-size: 18px;
}

.main-header{
  // background-image: url('images/narrow-banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .header-navigation{
    font-family: $specialFont;
    font-weight: 300;
    font-size: 19px;
    width: 100%;
    padding: .6em 5% 0;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $white;
    min-height: $headerSize;
    z-index: 1;
    &:after{
      content: '';
      clear: both;
      display: block;
      height: 0;
    }
    >.left,>.right{
        height: 100%;
        max-width: 100%;
    }
    >.left{
      float: left;
      @media (max-width: $media-sm){
        position: absolute;
        top: 0;
        left: 0;
        padding: inherit;
        padding-right: 3em;
        z-index: -1;
      }
    }
    >.right{
      float: right;
    }
  }
  .header-banner{
    font-family: $secondaryFont;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    color: $white;
    font-size: 20px;
    font-weight: 100;
    word-spacing: -.25em;
    padding: 20px 1em;
    @media (min-width: $media-sm){
      font-size: 33px;
      &:before{
        content: '';
      }
    }
    &.huge{
      &:before{
        height: 660px;
      }
      >.content{
        >h1{
          margin-bottom: 35px;
        }
        >div{
          font-weight: 300;
        }
      }
    }
    &:before{
      height: 110px;
      display: inline-block;
      vertical-align: middle;
    }
    .content{
      max-width: 100%;
      letter-spacing: 2px;
      display: inline-block;
      vertical-align: middle;
      >h1{
      }
      >p{
        max-width: 730px;
        margin: 1em auto;
      }
      .pair-block{
        margin-top: 4em;
        font-size: .55em;
      }
    }
  }
}

.main-content{
  line-height: 1.4em;
  color: $inactiveFont;
  padding-top: 50px;
  padding-bottom: 25px;
  font-family: $secondaryFont;

  >section{
    margin-top: 40px;
    .font-white{
      h2.title{
        color: inherit;
      }
    }
    h2{
      &.special-title,
      &.title{
        font-size: 1.6em;
        text-align: center;
        color: $black;
      }
      &.special-title{
        >span{
          text-transform: uppercase;
          display: inline-block;
          line-height: 1.4em;
        }
      }
      &.title{
        margin-bottom: 35px;
        font-weight: 600;
        >span{
          font-size: .86em;
          color: $black;
          font-weight: 100;
        }
      }
    }

    .posts{
      font-size: 1.22em;
    }
  }

}

.footer{
  background: $warning;
  font-family: $secondaryFont;
  padding: 1em 0;
  font-weight: 100;
  color: $specialFontColor;
  text-align: center;
  .footer-nav{
    .left, .right{
      margin: .8em auto;
      display: block;
    }
    @media (min-width: $media-sm){
      &:after{
        content: '';
        clear: both;
        display: block;
        height: 0;
      }
      .left{
        float: left;
      }
      .right{
        float: right;
      }
    }
  }
}

.container{
  margin: 0 auto;
  @each $media in $medias{
    @media (min-width: nth($media, 2)){
      width: nth($media, 3);
    }
  }
}

.container-small{
  margin: 0 auto;
  @each $media in $medias{
    @media (min-width: nth($media, 2)){
      width: nth($media, 4);
    }
  }
}
