@each $family in $attachedFonts {
  @each $type in nth($family, 3) {
    @font-face {
      #{nth($type, 1)}font-family: "#{nth($family, 1) }";
      src:url("fonts#{nth($family, 2) }#{nth($type, 2)}.ttf") format("truetype");
      src:url("fonts#{nth($family, 2) }#{nth($type, 2)}.otf") format("opentype");
    }
  }
}
