strong{
  font-weight: bold;
}
.font-accept{
  color: $accept;
}
.font-black{
  color: $black;
}

.font-white{
  color: $white;
}

.link{
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

h2:empty{
  display: none;
}

.font-mainFont{
  font-family: $mainFont;
}

.font-secondaryFont{
  font-family: $secondaryFont;
}

.font-specialFont{
  font-family: $specialFont;
}

.p-t-25{
  padding-top: 25px;
}

.p-t-40{
  padding-top: 40px;
}

.p-t-80{
  padding-top: 80px;
}

.p-t-100{
  padding-top: 100px;
}

@media (min-width: $media-sm) {
  .p-t-sm-100{
    padding-top: 100px;
  }
}

.p-b-75{
  padding-bottom: 75px;
}

.bold{
  font-weight: bold;
}

.bold-500{
  font-weight: 500;
}

.bold-400{
  font-weight: 400;
}

.italic{
  font-style: italic;
}

.font-19{
    font-size: 19px;
}

.font-20{
    font-size: 20px;
}


%circle{
  @include border-radius(100%);
  padding: .3em;
}

.bg-purple{
  @extend %circle;
  background-color: $purple;
}

.bg-orange{
  @extend %circle;
  background-color: $orange;
}

.bg-red{
  @extend %circle;
  background-color: $red;
}

.font-thin{
  font-weight: 100;
}

.font-thin-300{
  font-weight: 300;
}

.un-line{
  text-decoration: underline;
}

.up-c{
  text-transform: uppercase;
}


.font-liquid-medium{
  font-size: 1.5em;
  @media (min-width: $media-sm){
    font-size: 2.3em;
  }
}
.font-liquid-huge{
  font-size: 1.5em;
  @media (min-width: $media-sm){
    font-size: 2.9em;
  }
}

u.white{
  display: inline-block;
  border-bottom: 1px solid $white;
  text-decoration: none;
  padding-bottom: .2em;
}

u.black{
  display: inline-block;
  border-bottom: 1px solid $black;
  text-decoration: none;
  padding-bottom: .2em;
}

.color-00{
  color: #000000;
}

.font-24{
  font-size: 24px;
}

.font-28{
  font-size: 28px;
}

.font-33{
  font-size: 33px;
}
