@mixin transform($args) {
  -webkit-transform: $args;
     -moz-transform: $args;
      -ms-transform: $args;
       -o-transform: $args;
          transform: $args;
}

@mixin border-radius($args){
  -webkit-border-radius: $args;
     -moz-border-radius: $args;
          border-radius: $args;
}

@mixin transition($args){
  -webkit-transition: #{$args};
     -moz-transition: #{$args};
       -o-transition: #{$args};
          transition: #{$args};
}

@mixin filter($args) {
  -webkit-filter: $args;
     -moz-filter: $args;
      -ms-filter: $args;
       -o-filter: $args;
          filter: $args;
}

@mixin box-shadow( $args) {
  -webkit-box-shadow: $args;
     -moz-box-shadow: $args;
          box-shadow: $args;
}

@mixin user-select( $args) {
  -webkit-user-select: $args;
     -moz-user-select: $args;
      -ms-user-select: $args;
       -o-user-select: $args;
          user-select: $args;
}

@mixin appearance( $args) {
  -webkit-appearance:$args; /* Safari and Chrome */
     -moz-appearance:$args; /* Firefox */
          appearance:$args;
}

@mixin touch-action($args){
  -ms-touch-action: $args;
  touch-action: $args;
}

@mixin placeholder{
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
