$white: #ffffff;
$black: #646464;
$dominant: $white;
$inactive: #eee;
$accept: #11e9de;
$warning: #fee539;
$inactiveFont: #a7a7a7;
$specialFontColor: #698979;

$purple: #64459b;
$orange: #f1780b;
$red: #dc4335;

$attachedFonts: (
  "FaricyNew" '/faricy/FaricyNew'
    (
      '' '-Regular',
      'font-style: italic;' '-Italic',
      'font-weight: 600;' '-Bold',
      'font-weight: 600; font-style: italic;' '-BoldItalic',
      'font-weight: 100;' '-Light',
      'font-weight: 100; font-style: italic;' '-LightItalic',
      'font-weight: 300;' '-Light',
      'font-weight: 300; font-style: italic;' '-MediumItalic',
      ),
  // 'Helvetica Neue' '/helvetica-neue/HelveticaNeue'
  //   (
  //     '' 'CondensedBlack',
  //     'font-weight: bold;' 'CondensedBold',
  //   ),
  'DistrictProThin' '/district_thin_pro/DistProTh'
    ('' '',),
);

$mainFont: 'Raleway',Helvetica,Arial,sans-serif;
$secondaryFont: "FaricyNew",Arial,sans-serif;
$specialFont: "DistrictProThin",Arial,sans-serif;

$headerSize: 66px;

$medias: (
  'xs' 480px  100% 100%,
  'sm' 768px  750px 750px,
  'md' 1024px 970px 970px,
  'lg' 1200px 1170px 970px,
  'xl' 1400px 1170px 970px,
  'xxl' 1600px 1550px 970px,
);

$media-xs: nth( nth( $medias, 1 ), 2 );
$media-sm: nth( nth( $medias, 2 ), 2 );
$media-md: nth( nth( $medias, 3 ), 2 );
$media-lg: nth( nth( $medias, 4 ), 2 );
$media-xl: nth( nth( $medias, 5 ), 2 );
$media-xxl: nth( nth( $medias, 6 ), 2 );
