.extended-radio{
  word-spacing: .64em;
  label.radio{
    display: inline-block;
    cursor: pointer;
    input[type = "radio"]{
      display: none;
      &:checked + .fake-radio{
        position: relative;
        border-color: $accept;
        color: $accept;
        @extend .icon-paper-plane-alt;
        $x: -.1em;
        $y: -.1em;
        &:before,
        &:after{
          position: absolute;
          right: $x;
          top: $y;
        }
        &:before{
          color: $white;
          @extend %icon;
          z-index: 2;
        }
        &:after{
          content: '';
          width: .7em;
          height: .7em;
          z-index: 1;
          right: $x + .2em;
          top: $y + .2em;
          background-color: $accept;
        }
      }
    }
    .fake-radio{
      width: 60px;
      line-height: 58px;
      text-align: center;
      white-space: nowrap;
      font-size: .95em;
      font-weight: 200;
      border: 1px solid $inactiveFont;
      @include border-radius(100%);
    }
  }
  >input{
    margin-top: .3em;
    @include appearance(textfield);
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
  }
}
