.input-image-picker{
  color: $accept;
  input[type = "file"]{
    display: none;
  }
  >ul{
    word-spacing: .53em;
    >li{
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: .6em 0;
      .close{
        @include border-radius(100%);
        display: block;
        position: absolute;
        right: -.4em;
        border: 1px solid $accept;
        background-color: $white;
        top: -.4em;
        line-height: 1em;
        padding-top: .05em;
        cursor: pointer;
      }
      >figure{
        overflow: hidden;
        @include border-radius(20px);
        width: 140px;
        height: 140px;
        word-spacing: -.25em;
        white-space: nowrap;
        &:before{
          content: '';
          height: 140px;
          display: inline-block;
          vertical-align: middle;
        }
        >img{
          width: 100%;
          height: auto;
          display: inline-block;
          vertical-align: middle;
        }

      }
    }
    >li:last-child>figure{
      border: 1px dashed $accept;
      overflow: hidden;
      &:before{
        content: none;
      }
      label{
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative;
        >i{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          display: inline-block;
          width: 1.3em;
          height: 1.2em;
          line-height: 1.2em;
          padding-top: .1em;
        }
      }
    }
  }
}
