.contact-block{
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-family: $mainFont;
  >.head{
    font-size: 19px;
    color: $black;
    font-weight: 500;
    letter-spacing: .4px;
  }
  >p{
    font-size: 14px;
    color: $color_96;
    margin: 0 0 16px 0;
    letter-spacing: .35px;
  }
  >a{
    @include border-radius(4px);
    background-color: $accept;
    color: $color_fffefe;
    font-size: 20px;
    font-weight: 400px;
    cursor: pointer;
    padding: 6px;
    min-width: 215px;
    display: inline-block;
  }
}
