
// Size & display must be seted from other scc
.contact-cart{
  position: relative;
  background-color: $white;
  padding-bottom: 20px;
  @include border-radius(15px);
  margin-top: 45px;
  font-weight: 300;
  &:before{
    content: '';
    width: 135px;
    height: 135px;
    display: block;
    position: absolute;
    right: -45px;
    top: -45px;
    background-image: url(images/ok-shield.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  >figure{
    padding: 1px;
    display: block;
    text-align: center;
    >.img-wrapper{
      width: 140px;
      height: 140px;
      border: 5px solid $accept;
      border-radius: 100%;
      margin: 10px auto;
      overflow: hidden;
      background-color: $color_f9;
      >img{
        width: 100%;
        height: auto;
      }
    }
    >figcaption{
      line-height: 1em;
      h3{
        margin: .3em 0;
        font-size: 1.1em;
      }
    }
  }
  >ul.bordered-list{
    overflow: hidden;
    display: block;
    margin-top: 14px;
    white-space: nowrap;
    padding-bottom: 1px;
    >li{
      outline: solid 1px;
      display: block;
      font-size: 1.22em;
      line-height: 1.36;
      margin-top: 1px;
      margin-right: 1px;
      padding: 17px 5px 21px;
      text-align: center;
    }
  }
  >ul.contact-list{
    padding: 45px 30px 10px;
    font-size: 1.1em;
    text-align: left;
    &:after{
      content: '';
      width: 100%;
      display: inline-block;
    }
    >li{
      padding: 10px 0;
      display: block;
      >a{
        word-spacing: .15em;
      }
      i{
        font-size: .9em;
        color: $white;
        @include box-shadow(1px 2px 1px -1px rgba(0,0,0,0.52));
      }
    }
  }

  @media(min-width: $media-xs){
    >figure{
      >.img-wrapper{
        margin: -70px auto 13px;
      }
    }
    >ul.bordered-list{
      word-spacing: -.25em;
      >li{
        width: 40%;
        display: inline-block;
        &:last-child,
        &:first-child{
          width: 30%;
        }
      }
    }
    >ul.contact-list{
      text-align: justify;
      >li{
        display: inline-block;
      }
    }
  }
}
