.editor{
  line-height: 1.43em;
  font-size: 17px;
  overflow: hidden;
  font-weight: 300;
  letter-spacing: .7px;
  .fint-huge{
    font-size: 28px;
  }
  .font-accept{
    color: $accept;
  }
  a:hover{
    text-decoration: underline;
  }

  .align-right{
    text-align: right;
  }

  p{
    margin: 1em 0;
  }

  .ls-05{
    letter-spacing: .5px;
  }
}
