@font-face {
  font-family: 'fontello';
  src: url('fonts/icons/font/fontello.eot?88054339');
  src: url('fonts/icons/font/fontello.eot?88054339#iefix') format('embedded-opentype'),
       url('fonts/icons/font/fontello.woff2?88054339') format('woff2'),
       url('fonts/icons/font/fontello.woff?88054339') format('woff'),
       url('fonts/icons/font/fontello.ttf?88054339') format('truetype'),
       url('fonts/icons/font/fontello.svg?88054339#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon{
  position: relative;

  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-size: 120%;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: .9em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  @extend %icon;
}

.icon-user:before { content: '\e800'; } /* '' */
.icon-menu-square-button:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-vcard:before { content: '\e803'; bottom: -.1em; } /* '' */
.icon-credit-card:before { content: '\e804'; bottom: -.1em; } /* '' */
.icon-scroll-a:before { content: '@'; } /* '@' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-camera-outline:before { content: '\e806'; } /* '' */
.icon-paper-plane-alt:before { content: '\f01f'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
