.pair-block{
  word-spacing: .75em;
  >a{
    display: block;
    overflow: hidden;
    @include border-radius(7px);
    display: inline-block;
    padding: 8px 20px;
    min-width: 285px;
    border: 1px solid $white;
    color: $white;
    background-color: transparent;
    &:first-child{
      text-align: right;
    }
    &:last-child{
      text-align: left;
    }
    &:hover{
      border-color: transparent;
      color: $specialFontColor;
      background-color: $accept;
    }
    .title{
      font-weight: 700;
      font-size: 1.1em;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
