.plane-sircle{
  display: inline-block;
  width: 3em;
  line-height: 3em;
  text-align: center;
  white-space: nowrap;
  font-weight: 200;
  border: 1px solid $accept;
  @include border-radius(100%);
  position: relative;
  color: $accept;
  @extend .icon-paper-plane-alt;
  $x: -.1em;
  $y: -.1em;
  &:before,
  &:after{
    position: absolute;
    right: $x;
    top: $y;
  }
  &:before{
    color: $white;
    @extend %icon;
    z-index: 2;
  }
  &:after{
    content: '';
    width: .7em;
    height: .7em;
    z-index: 1;
    right: $x + .2em;
    top: $y + .2em;
    background-color: $accept;
  }

}
