
.popup{
  position: fixed;
  display: none;
  word-spacing: -.25em;
  z-index: 10;
  &.active{
    display: block;
  }
  >label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  white-space: nowrap;
  &:before{
    content: '';
    height: 100%;
    z-index: -1;
  }
  &:before, >.content{
    vertical-align: middle;
    display: inline-block;
  }
  >.content{
    z-index: 2;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
  }
}

.popup-trigger{
  display: none;
}

input.popup-trigger:checked + .popup,
.popup.active{
  display: block;
}

input.hide-all-popups{
  display: none;
  &:not(:checked) + .pseudo-body{
    height: 100%;
    overflow: hidden;
  }
}


.pseudo-body {
  padding-top: $headerSize;
  background-color: $white;
  font-family: $mainFont;
  font-size: 18px;
}
