.wa-slider{
  padding: 0 20px;
  position: relative;
  >ul.slides{
    max-width: 100%;
    word-spacing: -.25em;
    white-space: nowrap;
    overflow: hidden;
    >li{
      display: inline-block;
      padding-bottom: 10px;
      margin-right: 3.3125%;
      word-spacing: -.25em;
      white-space: nowrap;
      vertical-align: top;
      width: 100%;
      @media (min-width: $media-sm){
        width: 31.125%;
      }
      &:before{
        display: inline-block;
        width: 0;
        padding-top: 100%;
      }
      >figure{
        position: relative;
        overflow: hidden;
        width: 100%;
        >img{
          width: 100%;
          height: auto;
          margin: 0 auto;
        }
        >figcaption{
          font-size: 21px;
          background-color: rgba($accept, .6);
          @include border-radius(13px #{'/'} 8px);
          text-align: right;
          margin: 0 auto;
          padding: 5px 14px;
          line-height: 1.4em;
          font-weight: 700;
          letter-spacing: .3px;
          @media (min-width: $media-md){
            position: absolute;
            width: 95%;
            left: 0;
            right: 0;
            bottom: 45px;
          }
          >h3{
            font-size: 1.1em;
            letter-spacing: 1px;
          }

        }
      }

    }

  }
  >ul.nav{
    >li{
      position: absolute;
      top: 0;
      height: 100%;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      &:before, &:after{
        content: '';
        display: inline-block;
        vertical-align: middle;
      }
      &:before{
        height: 100%;
      }
      &:after{
        border: solid 15px transparent;
      }
      &.prev{
        left: -30px;
        &:after{
          border-right-color: $inactive;
        }
      }
      &.next{
        right: -30px;
        &:after{
          border-left-color: $inactive;
        }
      }
    }
  }
}


// Functional

.wa-slider{
  >ul.slides{
    >li{
      @include transition(margin-left .5s);
      margin-left: 0;
      &:first-child{
        margin-left: -100% - 3.3125%;
        @media (min-width: $media-sm){
          margin-left: -31.125% - 3.3125%;
        }
      }
    }
  }
}
