ul.cart-list{
  color: $color_78;
  font-weight: 300;
  >li{
    display: block;
    padding: 5px;
    font-family: $mainFont;
    >figure{
      border: 1px solid $color_ac;
      @include border-radius(5px);
      text-align: center;
      >.img-wrapper{
        width: 228px;
        max-width: 100%;
        overflow: hidden;
        margin: 0 auto;
        line-height: 0;
        >img{
          width: 100%;
          height: auto;
        }
      }
      >figcaption{
        text-align: justify;
        width: 100%;
        >.content{
          padding: 16px;
          >p{
            width: 100%;
            >a{
              color: $color_00;
            }
          }

          >.right{
            font-size: .9em;
            >span{
              display: block;
              font-size: 2.05em;
              color: $color_01;
              font-family: $secondaryFont;
            }
          }

          figure{
            word-spacing: 5px;
            >.img-wrapper{
              @include border-radius(100%);
              overflow: hidden;
              width: 40px;
              height: 40px;
              >img{
                width: 100%;
                height: auto;
              }
            }
            >.img-wrapper,
            >figcaption{
              display: inline-block;
              vertical-align: middle;
            }
            >figcaption{
              letter-spacing: .4px;
              >h4{
                color: $color_00;
                display: inline-block;
                font-weight: 500;
              }
            }

          }

          h3{
            font-size: 1.22em;
            color: #000000;
            margin: 8px 0 10px;
            font-weight: 400;
            letter-spacing: .5px;
          }

          >p{
            word-spacing: 3px;
            a{
              color: #000000;
            }
          }
        }
        >footer{
          margin-top: 30px;
          border-top: 1px solid $color_ac;
          >.left{
            padding: 0 10px;
            text-align: left;
            font-size: 18px;
            display: block;
            letter-spacing: .4px;
            >span{
              font-family: $secondaryFont;
              margin-left: 3px;
            }
          }
          >.right{
            display: block;
            color: $accept;
            border-top: 1px solid $color_ac;
            padding: 15px 10px;
            font-size: 18px;
            line-height: 1em;
            cursor: pointer;
            text-align: center;
            font-weight: 500;
            letter-spacing: .3px;
            &:hover{
              background-color: $accept;
              color: $white;
            }
          }
        }
      }
    }
    @media (min-width: $media-sm){
      >figure{
        padding-left: 228px;
        word-spacing: -.3em;
        position: relative;
        >.img-wrapper{
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          border-right: inherit;
          white-space: nowrap;
          height: 100%;
          word-spacing: -.25em;
          &:before{
            content: '';
            height: 100%;
          }
          &:before,
          >img{
            vertical-align: middle;
            display: inline-block;
          }
        }
        >figcaption{
          >.content{
            text-align: justify;
            figure{
              >.img-wrapper,
              >figcaption{
                display: inline-block;
                vertical-align: middle;
              }
            }
            .left,
            .right{
              display: inline-block;
              vertical-align: middle;
            }
            >p{
              display: inline-block;
              width: 100%;
            }
          }
          >footer{
            font-size: 0px;
            line-height: 0px;
            text-align: justify;
            >.left,
            >.right{
              vertical-align: middle;
              display: inline-block;
              line-height: 1em;
            }
            >.right{
              border-left: 1px solid lighten($inactiveFont, 6.25);
              border-top: 0;
            }
            &:after{
              content: '';
              display: inline-block;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
