ul.logo-list{
  padding-bottom: 25px;
  word-spacing: -.25em;
  text-align: center;
  >li{
    display: block;
    padding: 25px 10px 5px;
    @media (min-width: $media-sm){
      vertical-align: middle;
      display: inline-block;
      width: 33.33%;
    }
    >figure{
      display: block;
      text-align: center;
      >img{
        max-width: 100%;
        height: auto;
        display: inline-block;
      }
      >figcaption{
        font-size: 1.63em;
        margin-bottom: 40px;
        letter-spacing: 3.2px;
        color: $color_78;
        &:empty{
          display: none;
        }
      }
    }
  }
}
