ul.posts{
  word-spacing: -.25em;
  display: block;
  >li{
    display: block;
    padding: 0 10px 40px;
    @media (min-width: $media-sm){
      vertical-align: top;
      display: inline-block;
      width: 33.33%;
    }
    >figure{
      font-weight: 300;
      >.image-container{
        padding: 0 15px;
        img{
          width: 100%;
          height: auto;
          display: block;
        }
      }
      >figcaption{
        line-height: 1.25;
        padding-top: 35px;
        text-align: center;
        h3{
          font-weight: 400;
          color: $black;
        }
        p{
          letter-spacing: .4px;
          white-space: pre-line;
        }
      }
    }
  }
}
