ul.reviews{
  li{
    padding: 8px 0;
    display: block;
    $imageWidth: 100px;
    figure{
      padding-left: $imageWidth;
      word-spacing: -.25em;
      >.image-wrapper,
      >figcaption{
        display: inline-block;
        vertical-align: middle;
        width: 100%;
      }
      >.image-wrapper{
        margin-left: -$imageWidth;
        width: $imageWidth;
        height: $imageWidth;
        overflow: hidden;
        border: 1px solid $accept;
        position: relative;
        @include border-radius(100%);
        &:before{
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          border: 3px solid $white;
          @include border-radius(inherit);
        }
        >img{
          width: 100%;
          height: auto;
        }
      }

      >figcaption{
        font-style: italic;
        padding: 0 20px;
        color: darken($inactiveFont, 6.5);
        letter-spacing: .25px;
        >h3{
          font-style: normal;
          display: inline-block;
          vertical-align: middle;
          font-weight: bold;
          margin-right: 20px;
          letter-spacing: .4px;
        }
      }

    }
  }
}
