ul.wa-thumbs,
ul.wa-thumbs-huge{
  >li{
    padding: 0 20px;
    display: block;
    text-align: center;
    @media (min-width: $media-sm){
      text-align: left;
      >figure{
        margin-right: auto;
        >img{
          float: left;
        }
      }
    }

    @media (min-width: $media-md){
      &:nth-child(2n){
        text-align: right;
        >figure{
          margin-left: auto;
          >img{
            float: right;
          }
        }
      }
    }
    >figure{
      display: block;
      >img{
        max-width: 100%;
      }
      >figcaption{
        font-weight: 300;
        >h3{
          color: $color_6e;
          font-weight: bold;
        }
        @media (min-width: $media-sm){
          >p{
            white-space: pre-line;
          }
        }
      }
    }
  }
}

ul.wa-thumbs{
  >li{
    $imageSize: 105px;
    $margin: 45px;
    $shif: $imageSize + $margin;
    @media (min-width: $media-sm){
      >figure{
        >figcaption{
          padding-left: $shif;
        }
      }
    }

    @media (min-width: $media-md){
      &:nth-child(2n){
        >figure{
          >figcaption{
            padding-right: $shif;
          }
        }
      }
    }
    >figure{
      >img{
        margin-top: .5em;
        width: $imageSize;
      }
      >figcaption{
        padding-bottom: 20px;
        >h3{
          font-size: 1.17em;
          color: $color_6e;
          margin-bottom: .8em;
          letter-spacing: .4px;
        }
      }
    }
  }
}

ul.wa-thumbs-huge{
  >li{
    $imageSize: 150px;
    $margin: 80px;
    $shif: $imageSize + $margin;
    padding-bottom: 75px;
    @media (min-width: $media-sm){
      &:nth-child(even){
        >figure >figcaption{
          padding-right: $shif;
        }
      }
      &:nth-child(odd){
        >figure >figcaption{
          padding-left: $shif;
        }
      }
    }
    >figure{
      >img{
        width: $imageSize;
      }
      >figcaption{
        font-size: 1.4em;
        letter-spacing: .6px;
        >h3{
          font-size: 1.27em;
          margin-bottom: 17px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
