.form-preview{
  font-weight: 100;
  .title{
    font-weight: bold;
    font-size: 1.1em;
    margin: .3em 0;
    color: $black;
    text-align: center;
  }
  ul{
    font-size: .8em;
    background-color: lighten($inactiveFont, 28.5);
    color: darken($inactiveFont, 6.5);
    @include border-radius(15px);
    padding: 1em 1.4em .5em;
    line-height: 1em;
    li{
      text-align: justify;
      &:after{
        content: '';
        display: inline-block;
        width: 100%;
      }
      &:last-child{
        font-size: 1.215em;
      }
      &:empty{
        content: none;
      }
      >span{
        display: inline-block;
      }
    }
  }
}
