.form-inline{
  text-align: center;
  display: block;
  word-spacing: 25px;
  .label{
    color: $black;
    text-align: center;
    width: 100%;
    word-spacing: 10px;
    padding: 10px; 
    .input{
      width: 100%;
    }
    .submit{
      color: $accept;
      font-weight: bold;
    }
    @media(min-width: $media-sm){
      white-space: nowrap;
      width: auto;
      .input{
        width: 250px;
      }
      .submit{
        width: auto;
        min-width: 130px;
      }
    }
  }

}
