.form-simple{
  font-size: 1.1em;
  max-width: 100%;
  width: 700px;
  padding: 0 5px;
  display: block;
  margin: 0 auto;
  color: $inactiveFont;
  .label{
    display: block;
    color: $black;
    line-height: 1.3em;
    font-weight: 400;
  }
  .input{
    @include border-radius(5px);
    padding: 10px 13px;
    display: block;
    font-weight: 200;
    font-size: .8125em;
    width: 100%;
    margin: 8px 0;
  }

  footer{
    text-align: right;
    padding-top: 20px;
  }

  .submit{
    line-height: 1em;
    background-color: $accept;
    color: $white;
    @media (min-width: $media-sm){
      display: inline-block;
      width: auto;
    }
  }
}
