.form-preview{
  font-weight: 300;
  padding-top: 10px;
  >h3.title{
    font-weight: bold;
    font-size: 1.1em;
    margin-top: .3em;
    margin-bottom: .3em;
    color: $black;
    text-align: center;
  }
  ul{
    font-size: .85em;
    background-color: $color_f0;
    color: $color_96;
    padding: 1em .85em .5em 1em;
    line-height: 1em;
    @include border-radius(15px);
    li{
      text-align: justify;
      &:after{
        content: '';
        display: inline-block;
        width: 100%;
      }
      &:last-child{
        font-size: 1.25em;
      }
      &:empty{
        content: none;
      }
      >span{
        display: inline-block;
      }
    }
  }
}
