.form-inline{
  text-align: center;
  display: block;
  word-spacing: 10px;
  font-size: 1.1em;
  textarea{
    resize: vertical;
  }
  .label{
    color: $black;
    text-align: center;
    width: 100%;
    word-spacing: 10px;
    padding: 5px 10px 15px;
    @media(min-width: $media-sm){
      &:last-child{
        padding-left: 5px;
      }
    }
    .input{
      width: 100%;
      font-weight: 300;
      font-size: .85em;
      border-color: $color_e1;
      color: $inactiveFont;
    }
    .submit{
      color: $accept;
      font-weight: bold;
      &:hover{
        background-color: $accept;
        color: $white;
      }
    }
    @media(min-width: $media-sm){
      white-space: nowrap;
      width: auto;
      .input{
        width: 250px;
      }
      .submit{
        width: auto;
        min-width: 130px;
      }
    }
  }

}
