.form-simple{
  font-size: 1.1em;
  max-width: 100%;
  width: 700px;
  padding: 0 5px;
  display: block;
  margin: 0 auto;
  color: $inactiveFont;
  textarea{
    resize: vertical;
  }
  .label{
    display: block;
    color: $black;
    line-height: 1.3em;
    font-weight: 400;
    letter-spacing: .6px;
  }
  .input{
    @include border-radius(5px);
    padding: 7px 16px;
    display: block;
    font-weight: 300;
    font-size: .86em;
    width: 100%;
    margin: 5px 0 1px;
    color: $inactiveFont;
  }

  footer{
    text-align: right;
    padding-top: 20px;
  }

  .submit{
    line-height: 1.4;
    background-color: $accept;
    color: $white;
    font-weight: 400;
    font-size: 1em;
    @media (min-width: $media-sm){
      display: inline-block;
      width: auto;
    }
  }
}
