.form-special{
  width: 660px;
  max-width: 100%;
  textarea{
    resize: vertical;
  }
  .main{
    legend{
      background-color: $white;
      color: $inactiveFont;
      font-size: 1.35em;
      line-height: 1.4em;
      padding: .7em;
      text-transform: uppercase;
      width: 100%;
      font-weight: 500;
    }
    .content{
      color: $white;
      background-image: url('images/contact_us.png');
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 1.1em 1.65em;
      text-align: left;
      header{
        font-weight: 500;
        width: 270px;
        max-width: 100%;
        margin-left: auto;
      }
      .label{
        display: block;
        margin-top: .9em;
        font-weight: normal;
        line-height: 1.3em;
        textarea{
          padding-top: .85em;
          padding-bottom: .85em;
        }
        .input{
          max-width: 100%;
          display: block;
          border-width: 1px;
        }
        textarea.input{
          width: 100%;
        }
      }
    }
    .input{
      @include border-radius(6px);
      color: $inactiveFont;
    }
    .actions{
      text-align: right;
      padding-top: .9em;
      word-spacing: .5em;
      @media (max-width: $media-sm){
      	label,
      	.input {
      		margin: .5em 0;
      		width: 100%;
      	}

      	label {
      		width: 100%;
      	}
      }
      .input{
        padding: .5em 1.8em .4em;
        cursor: pointer;
        background-color: $white;
        &:hover{
          background-color: $inactive;
          color: black;
        }
      }
      .submit{
        background-color: $accept;
        color: $white;
        line-height: 1em;
      }
    }
  }

}
