@import "_icons.scss";
@import "_article";
@import "_popup";
@import "_lists/__lists";
@import "_forms/__forms";
@import "_editor";
@import "_slider";
@import "_asided-block";
@import "_contact-cart";
@import "_pair-block";
@import "_contact-block";
@import "_make-offer-block";
@import "_plane-sircle";

.logo img {
    max-width: 100%;
    height: auto;
}

.stars{
  background-image: url('images/stars.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  &:before{
    content: ' ';
    display: inline-block;
  }
}

.special-link{
  font-weight: bold;
  border-bottom: 1px solid $black;
  display: inline-block;
  padding-bottom: .3em;
}
