.article{
  >.title{
    color: $black;
    font-size: 1.3em;
    margin-top: .6em;
    margin-bottom: .6em;
    line-height: 1.1em;
    font-weight: 500;
  }
  >.content{
    margin-bottom: 38px;
  }
  >.submit{
      line-height: 1.4em;
      width: 164px;
      background-color: $accept;
      font-size: 1.6em;
      color: $white;
      width: 240px;
    }
}
