.asided-block{
  @media (min-width: $media-md){
    $asideSize: 500px;
    padding-right: $asideSize;
    white-space: nowrap;
    >aside,>div{
      display: inline-block;
      vertical-align: middle;
    }
    >aside{
      width: 500px;
    }
  }
  >aside{
    max-width: 100%;
    color: $inactiveFont;
  }
  >div{
    width: 100%;
    >div.content{
      max-width: 630px;
      padding: 10px;
    }
  }
}
