.contact-block{
  text-align: center;
  font-family: $mainFont;
  >.head{
    font-size: 19px;
    color: #646464;
    font-weight: 400;
  }
  >p{
    font-size: 14px;
    color: #969696;
    margin: 0 0 13px 0;
  }
  >a{
    @include border-radius(4px);
    background-color: $accept;
    color: $white;
    font-size: 20px;
    font-weight: 400px;
    cursor: pointer;
    padding: 8px;
    min-width: 215px;
    display: inline-block;
  }
}
