
// Size & display must be seted from other scc
.contact-cart{
  position: relative;
  background-color: $white;
  padding-bottom: 20px;
  &:before{
    width: 135px;
    height: 135px;
    display: block;
    position: absolute;
    right: -45px;
    top: -45px;
    background-image: url(images/ok-shield.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  >figure{
    padding: 1px;
    display: block;
    text-align: center;
    >.img-wrapper{
      width: 145px;
      height: 145px;
      border: 5px solid $accept;
      border-radius: 100%;
      margin: 10px auto;
      overflow: hidden;
      >img{
        max-width: 100%;
        height: auto;
      }
    }
    >figcaption{
      font-size: 1.2em;
      line-height: 1em;
      h3{
        font-weight: 100;
      }
    }
  }
  >ul.bordered-list{
    display: block;
    margin-top: 20px;
    >li{
      border-style: solid;
      border-color: $inactiveFont;
      border-width: 1px 1px 0 1px;
      display: inline-block;
      font-weight: 100;
      font-size: 1.2em;
      padding: 20px 5px 25px;
      text-align: center;
      &:last-child{
        border-bottom-width: 1px;
      }
    }
  }
  >ul.contact-list{
    padding: 40px 30px;
    font-size: 1.2em;
    text-align: justify;
    &:after{
      content: '';
      display: inline-block;
      width: 100%;
    }
    >li{
      padding: 10px 0;
      display: block;
      >a{
        word-spacing: .15em;
      }
      i{
        font-size: .9em;
        color: $white;
      }
    }

  }

  @media(min-width: $media-md){
    @include border-radius(15px);
    margin-top: 35px;
    &:before{
      content: '';
    }
    >figure{
      >.img-wrapper{
        margin: -70px auto 10px;
      }
    }
    >ul.bordered-list{
      word-spacing: -.25em;
      >li{
        width: 40%;
        border-width: 1px 1px 1px 0;
        &:last-child,
        &:first-child{
          width: 30%;
        }
        &:last-child{
          border-right-width: 0;
        }
      }
    }
    >ul.contact-list{
      text-align: center;
      >li{
        display: inline-block;
      }
    }
  }
}
