.make-offer-block{
  width: 100%;
  max-width: 800px;
  background-color: $white;
  @include border-radius(5px);
  overflow: hidden;
  padding: 25px;
  font-family: $mainFont;
  >figure{
    >figcaption{
      padding: 10px 10px 0 10px;
      text-align: left;
      word-spacing: -.3em;
      >figure.author{
        >.image-wrapper,
        >figcaption{
          display: inline-block;
          vertical-align: top;
        }
        >.image-wrapper{
          overflow: hidden;
          width: 60px;
          height: 60px;
          border: 1px solid $accept;
          @include border-radius(100%);
          text-align: center;
          white-space: nowrap;
          word-spacing: -.25em;
          &:before{
            content: '';
            height: 100%;
            vertical-align: middle;
            display: inline-block;
          }
          >img{
            max-width: 100%;
            height: auto;
            display: inline-block;
            vertical-align: middle;
          }
        }
        >figcaption{
          font-size: 16px;
          font-weight: 300;
          >h4{
            font-weight: 500;
            color: #000000;
            font-size: 1.15em;
          }
        }
      }
      >.left{
        font-weight: 400;
        span{
          color: #000000;
        }
        >li{
          margin-top: 1em;
        }
      }
      >.right{
        text-align: center;
        margin-top: 1em;
        font-size: 16px;
        font-weight: 300;
        .plane-sircle{
          font-size: 30px;
          font-weight: 400;
          font-family: $secondaryFont;
        }
        >p{
          padding: 5px 15px;
        }
      }
    }
  }
  >h3{
    text-align: left;
    font-size: 1.25em;
    color: #000000;
    font-weight: 400;
    margin-top: .8em;
    margin-bottom: .8em;
  }
  >.editor{
    font-size: 16px;
    text-align: left;
    color: #000000;
    font-weight: 400;
    margin-bottom: 35px;
  }
  >.actions{
    text-align: left;
  }

  @media (min-width: $media-sm){
    >figure{
      word-spacing: -.3em;
      >.image-container,
      >figcaption{
        display: inline-block;
        vertical-align: bottom;
        width: 50%;
      }
      >figcaption{
        >figure.author{
          margin-bottom: 62px;
        }
        >.left,
        >.right{
          display: inline-block;
          vertical-align: middle;
          width: 50%;
        }
        >.right{
          text-align: right;
        }
      }
    }
  }
}
