.pair-block{
  font-family: $secondaryFont;
  word-spacing: .75em;
  color: #698979;
  letter-spacing: 1px;
  >div{
    overflow: hidden;
    @include border-radius(7px);
    display: inline-block;
    line-height: 1.2em;
    padding: 8px 15px;
    &:first-child{
      text-align: right;
      background-color: $accept;
    }
    &:last-child{
      text-align: left;
      background-color: $warning;
    }
    .title{
      font-weight: bold;
      font-size: 1.25em;
      text-transform: uppercase;
    }
  }
  &.transparent{
    >div{
      background-color: transparent;
      border: 1px solid $white;
      color: $white;
    }
  }
}
