.label{
  cursor: pointer;
  padding-top: .3em;
}
.input{
  padding: 6px 12px;
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075));
  @include transition(border-color ease-in-out .15s #{','} box-shadow ease-in-out .15s);
  border: 1px solid $color_d7;
  display: inline-block;
  &:focus{
    border-color: $accept;
    outline: 0;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075) #{','} 0 0 8px rgba(102,175,233,0.6));
  }
  @include placeholder{
    color: $inactiveFont;
    font-weight: 300;
  }
}

.submit{
  text-align: center;
  min-width: 105px;
  border: 1px solid $accept;
  background-color: transparent;
  cursor: pointer;
}

@import "_image-picker";
@import "_number-small";
@import "_extended-radio";
