.number-small{
  padding-bottom: .45em;
  input{
    margin-top: 10px;
    width: 1em;
    @include appearance(textfield);
    text-align: center;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    &:disabled{
      background-color: transparent;
    }
  }
  >p{
    word-spacing: -.25em;
  }
  i{
    color: $accept;
    border: 1px solid $accept;
    @include border-radius(100%);
    width: 1em;
    display: inline-block;
    text-align: center;
    line-height: .95em;
    padding-bottom: .05em;
  }
}
