@charset "UTF-8";
@font-face {
  font-family: "FaricyNew";
  src: url("fonts/faricy/FaricyNew-Regular.ttf") format("truetype");
  src: url("fonts/faricy/FaricyNew-Regular.otf") format("opentype"); }

@font-face {
  font-style: italic;font-family: "FaricyNew";
  src: url("fonts/faricy/FaricyNew-Italic.ttf") format("truetype");
  src: url("fonts/faricy/FaricyNew-Italic.otf") format("opentype"); }

@font-face {
  font-weight: 600;font-family: "FaricyNew";
  src: url("fonts/faricy/FaricyNew-Bold.ttf") format("truetype");
  src: url("fonts/faricy/FaricyNew-Bold.otf") format("opentype"); }

@font-face {
  font-weight: 600; font-style: italic;font-family: "FaricyNew";
  src: url("fonts/faricy/FaricyNew-BoldItalic.ttf") format("truetype");
  src: url("fonts/faricy/FaricyNew-BoldItalic.otf") format("opentype"); }

@font-face {
  font-weight: 100;font-family: "FaricyNew";
  src: url("fonts/faricy/FaricyNew-Light.ttf") format("truetype");
  src: url("fonts/faricy/FaricyNew-Light.otf") format("opentype"); }

@font-face {
  font-weight: 100; font-style: italic;font-family: "FaricyNew";
  src: url("fonts/faricy/FaricyNew-LightItalic.ttf") format("truetype");
  src: url("fonts/faricy/FaricyNew-LightItalic.otf") format("opentype"); }

@font-face {
  font-weight: 300;font-family: "FaricyNew";
  src: url("fonts/faricy/FaricyNew-Light.ttf") format("truetype");
  src: url("fonts/faricy/FaricyNew-Light.otf") format("opentype"); }

@font-face {
  font-weight: 300; font-style: italic;font-family: "FaricyNew";
  src: url("fonts/faricy/FaricyNew-MediumItalic.ttf") format("truetype");
  src: url("fonts/faricy/FaricyNew-MediumItalic.otf") format("opentype"); }

@font-face {
  font-family: "DistrictProThin";
  src: url("fonts/district_thin_pro/DistProTh.ttf") format("truetype");
  src: url("fonts/district_thin_pro/DistProTh.otf") format("opentype"); }

*, *:before, *:after {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
select,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  word-spacing: normal;
  white-space: normal; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input, select {
  font-size: inherit;
  color: inherit;
  border: 0;
  box-shadow: none;
  -webkit-appearance: none; }
  button:focus, button:hover, input:focus, input:hover, select:focus, select:hover {
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none; }

a,
a:visited,
a:hover,
a:focus,
a:target {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

label {
  display: inline-block;
  cursor: inherit; }

select {
  text-transform: inherit; }

fieldset {
  min-width: auto; }

b {
  font-weight: 600; }

strong {
  font-weight: bold; }

.font-accept {
  color: #11e9de; }

.font-black {
  color: #646464; }

.font-white {
  color: #ffffff; }

.link {
  cursor: pointer; }
  .link:hover {
    text-decoration: underline; }

h2:empty {
  display: none; }

.font-mainFont {
  font-family: "Raleway", Helvetica, Arial, sans-serif; }

.font-secondaryFont {
  font-family: "FaricyNew", Arial, sans-serif; }

.font-specialFont {
  font-family: "DistrictProThin", Arial, sans-serif; }

.p-t-25 {
  padding-top: 25px; }

.p-t-40 {
  padding-top: 40px; }

.p-t-80 {
  padding-top: 80px; }

.p-t-100 {
  padding-top: 100px; }

@media (min-width: 768px) {
  .p-t-sm-100 {
    padding-top: 100px; } }

.p-b-75 {
  padding-bottom: 75px; }

.bold {
  font-weight: bold; }

.bold-500 {
  font-weight: 500; }

.bold-400 {
  font-weight: 400; }

.italic {
  font-style: italic; }

.font-19 {
  font-size: 19px; }

.font-20 {
  font-size: 20px; }

.bg-purple, .bg-orange, .bg-red {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  padding: .3em; }

.bg-purple {
  background-color: #64459b; }

.bg-orange {
  background-color: #f1780b; }

.bg-red {
  background-color: #dc4335; }

.font-thin {
  font-weight: 100; }

.font-thin-300 {
  font-weight: 300; }

.un-line {
  text-decoration: underline; }

.up-c {
  text-transform: uppercase; }

.font-liquid-medium {
  font-size: 1.5em; }
  @media (min-width: 768px) {
    .font-liquid-medium {
      font-size: 2.3em; } }

.font-liquid-huge {
  font-size: 1.5em; }
  @media (min-width: 768px) {
    .font-liquid-huge {
      font-size: 2.9em; } }

u.white {
  display: inline-block;
  border-bottom: 1px solid #ffffff;
  text-decoration: none;
  padding-bottom: .2em; }

u.black {
  display: inline-block;
  border-bottom: 1px solid #646464;
  text-decoration: none;
  padding-bottom: .2em; }

.color-00 {
  color: #000000; }

.font-24 {
  font-size: 24px; }

.font-28 {
  font-size: 28px; }

.font-33 {
  font-size: 33px; }

body, html {
  height: 100%;
  overflow: hidden;
  font-size: 18px; }

.main-header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .main-header .header-navigation {
    font-family: "DistrictProThin", Arial, sans-serif;
    font-weight: 300;
    font-size: 19px;
    width: 100%;
    padding: .6em 5% 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #ffffff;
    min-height: 66px;
    z-index: 1; }
    .main-header .header-navigation:after {
      content: '';
      clear: both;
      display: block;
      height: 0; }
    .main-header .header-navigation > .left, .main-header .header-navigation > .right {
      height: 100%;
      max-width: 100%; }
    .main-header .header-navigation > .left {
      float: left; }
      @media (max-width: 768px) {
        .main-header .header-navigation > .left {
          position: absolute;
          top: 0;
          left: 0;
          padding: inherit;
          padding-right: 3em;
          z-index: -1; } }
    .main-header .header-navigation > .right {
      float: right; }
  .main-header .header-banner {
    font-family: "FaricyNew", Arial, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    word-spacing: -.25em;
    padding: 20px 1em; }
    @media (min-width: 768px) {
      .main-header .header-banner {
        font-size: 33px; }
        .main-header .header-banner:before {
          content: ''; } }
    .main-header .header-banner.huge:before {
      height: 660px; }
    .main-header .header-banner.huge > .content > h1 {
      margin-bottom: 35px; }
    .main-header .header-banner.huge > .content > div {
      font-weight: 300; }
    .main-header .header-banner:before {
      height: 110px;
      display: inline-block;
      vertical-align: middle; }
    .main-header .header-banner .content {
      max-width: 100%;
      letter-spacing: 2px;
      display: inline-block;
      vertical-align: middle; }
      .main-header .header-banner .content > p {
        max-width: 730px;
        margin: 1em auto; }
      .main-header .header-banner .content .pair-block {
        margin-top: 4em;
        font-size: .55em; }

.main-content {
  line-height: 1.4em;
  color: #a7a7a7;
  padding-top: 50px;
  padding-bottom: 25px;
  font-family: "FaricyNew", Arial, sans-serif; }
  .main-content > section {
    margin-top: 40px; }
    .main-content > section .font-white h2.title {
      color: inherit; }
    .main-content > section h2.special-title, .main-content > section h2.title {
      font-size: 1.6em;
      text-align: center;
      color: #646464; }
    .main-content > section h2.special-title > span {
      text-transform: uppercase;
      display: inline-block;
      line-height: 1.4em; }
    .main-content > section h2.title {
      margin-bottom: 35px;
      font-weight: 600; }
      .main-content > section h2.title > span {
        font-size: .86em;
        color: #646464;
        font-weight: 100; }
    .main-content > section .posts {
      font-size: 1.22em; }

.footer {
  background: #fee539;
  font-family: "FaricyNew", Arial, sans-serif;
  padding: 1em 0;
  font-weight: 100;
  color: #698979;
  text-align: center; }
  .footer .footer-nav .left, .footer .footer-nav .right {
    margin: .8em auto;
    display: block; }
  @media (min-width: 768px) {
    .footer .footer-nav:after {
      content: '';
      clear: both;
      display: block;
      height: 0; }
    .footer .footer-nav .left {
      float: left; }
    .footer .footer-nav .right {
      float: right; } }

.container {
  margin: 0 auto; }
  @media (min-width: 480px) {
    .container {
      width: 100%; } }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 1024px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }
  @media (min-width: 1400px) {
    .container {
      width: 1170px; } }
  @media (min-width: 1600px) {
    .container {
      width: 1550px; } }

.container-small {
  margin: 0 auto; }
  @media (min-width: 480px) {
    .container-small {
      width: 100%; } }
  @media (min-width: 768px) {
    .container-small {
      width: 750px; } }
  @media (min-width: 1024px) {
    .container-small {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container-small {
      width: 970px; } }
  @media (min-width: 1400px) {
    .container-small {
      width: 970px; } }
  @media (min-width: 1600px) {
    .container-small {
      width: 970px; } }

@font-face {
  font-family: 'fontello';
  src: url("fonts/icons/font/fontello.eot?88054339");
  src: url("fonts/icons/font/fontello.eot?88054339#iefix") format("embedded-opentype"), url("fonts/icons/font/fontello.woff2?88054339") format("woff2"), url("fonts/icons/font/fontello.woff?88054339") format("woff"), url("fonts/icons/font/fontello.ttf?88054339") format("truetype"), url("fonts/icons/font/fontello.svg?88054339#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before, .extended-radio label.radio input[type="radio"]:checked + .fake-radio:before, .plane-sircle:before {
  position: relative;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-size: 120%;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: .9em;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-user:before {
  content: '\e800'; }

/* '' */
.icon-menu-square-button:before {
  content: '\e801'; }

/* '' */
.icon-mail:before {
  content: '\e802'; }

/* '' */
.icon-vcard:before {
  content: '\e803';
  bottom: -.1em; }

/* '' */
.icon-credit-card:before {
  content: '\e804';
  bottom: -.1em; }

/* '' */
.icon-scroll-a:before {
  content: '@'; }

/* '@' */
.icon-cancel:before {
  content: '\e805'; }

/* '' */
.icon-camera-outline:before {
  content: '\e806'; }

/* '' */
.icon-paper-plane-alt:before, .extended-radio label.radio input[type="radio"]:checked + .fake-radio:before, .plane-sircle:before {
  content: '\f01f'; }

/* '' */
.icon-paper-plane:before {
  content: '\f1d8'; }

/* '' */
.article > .title {
  color: #646464;
  font-size: 1.3em;
  margin-top: .6em;
  margin-bottom: .6em;
  line-height: 1.1em;
  font-weight: 500; }

.article > .content {
  margin-bottom: 38px; }

.article > .submit {
  line-height: 1.4em;
  width: 164px;
  background-color: #11e9de;
  font-size: 1.6em;
  color: #ffffff;
  width: 240px; }

.popup {
  position: fixed;
  display: none;
  word-spacing: -.25em;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  white-space: nowrap; }
  .popup.active {
    display: block; }
  .popup > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .popup:before {
    content: '';
    height: 100%;
    z-index: -1; }
  .popup:before, .popup > .content {
    vertical-align: middle;
    display: inline-block; }
  .popup > .content {
    z-index: 2;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: auto; }

.popup-trigger {
  display: none; }

input.popup-trigger:checked + .popup,
.popup.active {
  display: block; }

input.hide-all-popups {
  display: none; }
  input.hide-all-popups:not(:checked) + .pseudo-body {
    overflow: hidden; }

.pseudo-body {
  padding-top: 66px;
  background-color: #ffffff;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 100%;
  overflow: auto; }

.simple-list ul {
  display: block;
  width: 100%;
  word-spacing: 2.5em; }
  .simple-list ul > li {
    display: inline-block; }

.nav-list {
  position: relative; }
  .nav-list > i {
    display: none; }
  .nav-list > ul {
    outline: 0;
    text-align: center; }
  .nav-list > ul {
    word-spacing: 1em;
    line-height: 1.05em; }
    .nav-list > ul > li {
      display: inline-block;
      vertical-align: bottom;
      cursor: pointer; }
      .nav-list > ul > li span {
        background-color: #11e9de;
        color: #ffffff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }
      .nav-list > ul > li a {
        color: #a7a7a7; }
      .nav-list > ul > li span, .nav-list > ul > li a {
        display: block;
        padding: .4em .25em .3em; }
      .nav-list > ul > li:hover span, .nav-list > ul > li:hover a {
        background-color: #eee; }
  @media (max-width: 768px) {
    .nav-list > i {
      font-size: 2em;
      display: block;
      cursor: pointer;
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      line-height: 1em;
      text-align: right;
      width: 100%; }
      .nav-list > i:before {
        font-size: 100%; }
    .nav-list > ul {
      text-align: left;
      cursor: pointer;
      padding-top: 2.4em;
      max-height: 2em;
      overflow: hidden;
      -webkit-transition: 1s max-height;
      -moz-transition: 1s max-height;
      -o-transition: 1s max-height;
      transition: 1s max-height; }
      .nav-list > ul:focus {
        max-height: 400px; }
        .nav-list > ul:focus + i {
          z-index: 1; }
      .nav-list > ul > li {
        display: block; } }

.product-list {
  text-align: center;
  padding: .7em;
  display: block; }
  .product-list thead {
    display: none; }
  .product-list tbody {
    display: block; }
    .product-list tbody tr {
      display: block;
      border-style: solid;
      border-color: #ccc;
      border-width: 1px 1px 0; }
      .product-list tbody tr:last-child {
        border-bottom-width: 1px; }
    .product-list tbody td {
      position: relative;
      padding: .55em;
      line-height: 1.4em;
      display: block;
      border-top: 1px solid #eee; }
      .product-list tbody td:first-child {
        border-top-width: 0; }
      .product-list tbody td[data-head] {
        padding-left: 33%;
        padding-right: 33%; }
        .product-list tbody td[data-head]:before {
          content: attr(data-head);
          display: inline-block;
          text-align: center;
          width: 33%;
          position: absolute;
          left: 0;
          top: 0;
          padding-top: inherit; }
      .product-list tbody td a.submit {
        display: inline-block;
        padding: .9em;
        line-height: 1em;
        vertical-align: middle;
        color: #11e9de;
        width: 30%; }
        .product-list tbody td a.submit:hover {
          background-color: #eee; }
  @media (min-width: 768px) {
    .product-list {
      display: table; }
      .product-list thead {
        display: table-header-group;
        border-bottom: 2px solid #ddd; }
        .product-list thead th {
          display: table-cell;
          font-size: 1.3em;
          font-weight: bold;
          padding: 8px;
          line-height: 1.4em; }
          .product-list thead th.header {
            font-size: 1.8em;
            opacity: .8;
            color: #a7a7a7;
            font-family: "FaricyNew", Arial, sans-serif;
            text-transform: uppercase;
            padding-bottom: 28px; }
      .product-list tbody {
        display: table-row-group; }
        .product-list tbody tr {
          display: table-row;
          border-width: 0; }
        .product-list tbody td {
          display: table-cell;
          border-top-width: 0;
          vertical-align: middle; }
          .product-list tbody td[data-head] {
            padding-left: .55em;
            padding-right: .55em; }
            .product-list tbody td[data-head]:before {
              content: none; }
          .product-list tbody td img {
            width: 100%;
            max-width: 140px;
            height: auto;
            display: inline-block; }
          .product-list tbody td a.submit {
            width: auto; } }

ul.wa-thumbs > li {
  display: block;
  padding: 0 20px 0px 20px;
  text-align: center; }
  @media (min-width: 768px) {
    ul.wa-thumbs > li:nth-child(even) {
      direction: rtl;
      text-align: right; }
      ul.wa-thumbs > li:nth-child(even) > figure {
        padding-right: 150px; }
        ul.wa-thumbs > li:nth-child(even) > figure > img {
          margin-right: -150px;
          margin-left: 45px; }
    ul.wa-thumbs > li:nth-child(odd) {
      direction: ltr;
      text-align: left; }
      ul.wa-thumbs > li:nth-child(odd) > figure {
        padding-left: 150px; }
        ul.wa-thumbs > li:nth-child(odd) > figure > img {
          margin-left: -150px;
          margin-right: 45px; } }
  ul.wa-thumbs > li > figure {
    max-width: 720px;
    display: block;
    word-spacing: -.25em; }
    ul.wa-thumbs > li > figure > img {
      width: 105px;
      max-width: 100%;
      display: inline-block;
      vertical-align: middle; }
    ul.wa-thumbs > li > figure > figcaption {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      font-weight: 100;
      padding: 10px 0;
      direction: ltr; }
      ul.wa-thumbs > li > figure > figcaption > h3 {
        font-size: 1.18em;
        color: #646464;
        margin-bottom: 1em;
        font-weight: bold; }

ul.wa-thumbs.huge > li {
  padding: 40px 10px; }
  @media (min-width: 768px) {
    ul.wa-thumbs.huge > li:nth-child(even) > figure {
      padding-right: 220px; }
      ul.wa-thumbs.huge > li:nth-child(even) > figure > img {
        margin-right: -220px;
        margin-left: 70px; }
    ul.wa-thumbs.huge > li:nth-child(odd) > figure {
      padding-left: 220px; }
      ul.wa-thumbs.huge > li:nth-child(odd) > figure > img {
        margin-left: -220px;
        margin-right: 70px; } }
  ul.wa-thumbs.huge > li > figure {
    max-width: 920px; }
    ul.wa-thumbs.huge > li > figure > img {
      width: 150px; }
    ul.wa-thumbs.huge > li > figure > figcaption {
      font-size: 1.4em; }
      ul.wa-thumbs.huge > li > figure > figcaption > h3 {
        font-size: 1.3em; }

ul.posts {
  word-spacing: -.25em;
  display: block; }
  ul.posts > li {
    display: block;
    padding: 0 20px; }
    @media (min-width: 768px) {
      ul.posts > li {
        vertical-align: top;
        display: inline-block;
        width: 33.33%; } }
    ul.posts > li > figure > img {
      width: 100%;
      height: auto;
      display: block; }
    ul.posts > li > figure > figcaption {
      padding-top: 35px;
      text-align: center; }
      ul.posts > li > figure > figcaption h3 {
        color: #646464;
        font-size: 1.05em; }
      ul.posts > li > figure > figcaption p {
        white-space: pre-line; }

ul.reviews li {
  padding: 10px;
  display: block; }
  ul.reviews li figure > .image-wrapper,
  ul.reviews li figure > figcaption {
    display: inline-block;
    vertical-align: middle; }
  ul.reviews li figure > .image-wrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid #11e9de;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%; }
    ul.reviews li figure > .image-wrapper:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border: 3px solid #ffffff;
      -webkit-border-radius: inherit;
      -moz-border-radius: inherit;
      border-radius: inherit; }
    ul.reviews li figure > .image-wrapper > img {
      width: 100%;
      height: auto; }
  ul.reviews li figure > figcaption {
    font-style: italic; }
    ul.reviews li figure > figcaption > h3 {
      font-style: normal;
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
      color: #969696;
      margin: 0 20px; }

ul.logo-list {
  word-spacing: -.25em;
  text-align: center; }
  ul.logo-list > li {
    display: block;
    padding: 25px 10px; }
    @media (min-width: 768px) {
      ul.logo-list > li {
        vertical-align: middle;
        display: inline-block;
        width: 33.33%; } }
    ul.logo-list > li > figure {
      display: block;
      text-align: center; }
      ul.logo-list > li > figure > img {
        max-width: 100%;
        height: auto;
        display: inline-block; }
      ul.logo-list > li > figure > figcaption {
        font-size: 1.63em;
        margin-bottom: 40px;
        letter-spacing: 3px; }
        ul.logo-list > li > figure > figcaption:empty {
          display: none; }

ul.cart-list > li {
  display: block;
  padding: 5px;
  font-family: "Raleway", Helvetica, Arial, sans-serif; }
  ul.cart-list > li > figure {
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center; }
    ul.cart-list > li > figure > .img-wrapper {
      width: 220px;
      height: 100%;
      max-width: 100%;
      overflow: hidden;
      margin: 0 auto; }
      ul.cart-list > li > figure > .img-wrapper > img {
        width: 100%;
        height: auto; }
    ul.cart-list > li > figure > figcaption {
      text-align: justify;
      width: 100%; }
      ul.cart-list > li > figure > figcaption > .content {
        padding: 20px; }
        ul.cart-list > li > figure > figcaption > .content > p {
          width: 100%; }
          ul.cart-list > li > figure > figcaption > .content > p > a {
            margin: 0 5px; }
        ul.cart-list > li > figure > figcaption > .content > .right {
          font-size: .9em;
          font-weight: 300; }
          ul.cart-list > li > figure > figcaption > .content > .right > span {
            display: block;
            font-size: 2.05em;
            color: #000000;
            font-weight: 400;
            font-family: "FaricyNew", Arial, sans-serif;
            padding-top: 10px; }
        ul.cart-list > li > figure > figcaption > .content figure > .img-wrapper {
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          overflow: hidden;
          width: 50px;
          height: 50px; }
          ul.cart-list > li > figure > figcaption > .content figure > .img-wrapper > img {
            width: 100%;
            height: auto; }
        ul.cart-list > li > figure > figcaption > .content figure > .img-wrapper,
        ul.cart-list > li > figure > figcaption > .content figure > figcaption {
          display: inline-block;
          vertical-align: middle; }
        ul.cart-list > li > figure > figcaption > .content figure > figcaption {
          font-weight: 100; }
          ul.cart-list > li > figure > figcaption > .content figure > figcaption > h4 {
            color: black;
            display: inline-block;
            font-weight: 500; }
        ul.cart-list > li > figure > figcaption > .content h3 {
          font-size: 1.2em;
          color: #000000;
          margin: 5px 0 10px;
          font-weight: 400; }
        ul.cart-list > li > figure > figcaption > .content > p a {
          color: #000000; }
      ul.cart-list > li > figure > figcaption > footer {
        margin-top: 15px;
        border-top: 1px solid #b7b7b7; }
        ul.cart-list > li > figure > figcaption > footer > .left {
          padding: 0 10px;
          text-align: left;
          font-size: 18px;
          display: block; }
        ul.cart-list > li > figure > figcaption > footer > .right {
          display: block;
          color: #11e9de;
          border-top: 1px solid #b7b7b7;
          padding: 15px 10px;
          font-size: 18px;
          line-height: 1em;
          cursor: pointer;
          text-align: center; }
          ul.cart-list > li > figure > figcaption > footer > .right:hover {
            background-color: #11e9de;
            color: #ffffff; }
  @media (min-width: 768px) {
    ul.cart-list > li > figure {
      padding-left: 220px;
      word-spacing: -.3em;
      position: relative; }
      ul.cart-list > li > figure > .img-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-right: inherit; }
      ul.cart-list > li > figure > figcaption > .content {
        text-align: justify; }
        ul.cart-list > li > figure > figcaption > .content figure > .img-wrapper,
        ul.cart-list > li > figure > figcaption > .content figure > figcaption {
          display: inline-block;
          vertical-align: middle; }
        ul.cart-list > li > figure > figcaption > .content .left,
        ul.cart-list > li > figure > figcaption > .content .right {
          display: inline-block;
          vertical-align: middle; }
        ul.cart-list > li > figure > figcaption > .content > p {
          display: inline-block;
          width: 100%; }
      ul.cart-list > li > figure > figcaption > footer {
        font-size: 0px;
        line-height: 0px;
        text-align: justify; }
        ul.cart-list > li > figure > figcaption > footer > .left,
        ul.cart-list > li > figure > figcaption > footer > .right {
          vertical-align: middle;
          display: inline-block;
          line-height: 1em; }
        ul.cart-list > li > figure > figcaption > footer > .right {
          border-left: 1px solid #b7b7b7;
          border-top: 0; }
        ul.cart-list > li > figure > figcaption > footer:after {
          content: '';
          display: inline-block;
          width: 100%; } }

ul.preview-images-list {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  display: block;
  position: relative;
  word-spacing: -.3em; }
  ul.preview-images-list > li {
    display: inline-block;
    width: 33.33%;
    padding: 5px; }
    ul.preview-images-list > li:first-child {
      width: 100%; }
    ul.preview-images-list > li > figure {
      border: 1px solid #a7a7a7;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      overflow: hidden;
      width: 100%;
      height: 100%;
      max-height: 100%;
      padding-top: 100%;
      position: relative; }
      ul.preview-images-list > li > figure img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        display: block;
        height: auto; }
  @media (min-width: 768px) {
    ul.preview-images-list {
      padding-left: 75%; }
      ul.preview-images-list > li {
        width: 100%; }
        ul.preview-images-list > li:first-child {
          width: 75%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0; }
        ul.preview-images-list > li > figure {
          border: 1px solid #a7a7a7;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          overflow: hidden;
          width: 100%;
          height: 100%;
          max-height: 100%;
          padding-top: 100%;
          position: relative; }
          ul.preview-images-list > li > figure img {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            display: block;
            height: auto; } }

.label {
  cursor: pointer;
  padding-top: .3em; }

.input {
  padding: 6px 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s , box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s , box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s , box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s , box-shadow ease-in-out 0.15s;
  border: 1px solid #b7b7b7;
  display: inline-block; }
  .input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) , 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) , 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) , 0 0 8px rgba(102, 175, 233, 0.6); }
  .input::-webkit-input-placeholder {
    color: #a7a7a7;
    font-weight: 100;
    font-size: .95em; }
  .input:-moz-placeholder {
    color: #a7a7a7;
    font-weight: 100;
    font-size: .95em; }
  .input::-moz-placeholder {
    color: #a7a7a7;
    font-weight: 100;
    font-size: .95em; }
  .input:-ms-input-placeholder {
    color: #a7a7a7;
    font-weight: 100;
    font-size: .95em; }

.submit {
  text-align: center;
  min-width: 110px;
  border: 1px solid #11e9de;
  background-color: transparent; }

.input-image-picker {
  color: #11e9de; }
  .input-image-picker input[type="file"] {
    display: none; }
  .input-image-picker > ul {
    word-spacing: .53em; }
    .input-image-picker > ul > li {
      position: relative;
      display: inline-block;
      margin: .6em 0; }
      .input-image-picker > ul > li .close {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        display: block;
        position: absolute;
        right: -.4em;
        border: 1px solid #11e9de;
        background-color: #ffffff;
        top: -.4em;
        line-height: 1em;
        padding-top: .05em;
        cursor: pointer; }
      .input-image-picker > ul > li > figure {
        overflow: hidden;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        width: 140px;
        height: 140px;
        word-spacing: -.25em;
        white-space: nowrap; }
        .input-image-picker > ul > li > figure:before {
          content: '';
          height: 140px;
          display: inline-block;
          vertical-align: middle; }
        .input-image-picker > ul > li > figure > img {
          width: 100%;
          height: auto;
          display: inline-block;
          vertical-align: middle; }
    .input-image-picker > ul > li:last-child > figure {
      border: 1px dashed #11e9de;
      overflow: hidden; }
      .input-image-picker > ul > li:last-child > figure:before {
        content: none; }
      .input-image-picker > ul > li:last-child > figure label {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative; }
        .input-image-picker > ul > li:last-child > figure label > i {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          display: inline-block;
          width: 1.3em;
          height: 1.2em;
          line-height: 1.2em;
          padding-top: .1em; }

.number-small input {
  width: 1em;
  -webkit-appearance: textfield;
  /* Safari and Chrome */
  -moz-appearance: textfield;
  /* Firefox */
  appearance: textfield;
  text-align: center; }
  .number-small input::-webkit-outer-spin-button, .number-small input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */ }
  .number-small input:disabled {
    background-color: transparent; }

.number-small i {
  color: #11e9de;
  border: 1px solid #11e9de;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 1em;
  display: inline-block;
  text-align: center;
  line-height: 1em; }

.extended-radio {
  word-spacing: .64em; }
  .extended-radio label.radio {
    display: inline-block;
    cursor: pointer; }
    .extended-radio label.radio input[type="radio"] {
      display: none; }
      .extended-radio label.radio input[type="radio"]:checked + .fake-radio {
        position: relative;
        border-color: #11e9de;
        color: #11e9de; }
        .extended-radio label.radio input[type="radio"]:checked + .fake-radio:before, .extended-radio label.radio input[type="radio"]:checked + .fake-radio:after {
          position: absolute;
          right: -0.1em;
          top: -0.1em; }
        .extended-radio label.radio input[type="radio"]:checked + .fake-radio:before {
          color: #ffffff;
          z-index: 2; }
        .extended-radio label.radio input[type="radio"]:checked + .fake-radio:after {
          content: '';
          width: .7em;
          height: .7em;
          z-index: 1;
          right: 0.1em;
          top: 0.1em;
          background-color: #11e9de; }
    .extended-radio label.radio .fake-radio {
      width: 60px;
      line-height: 58px;
      text-align: center;
      white-space: nowrap;
      font-size: .95em;
      font-weight: 200;
      border: 1px solid #a7a7a7;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%; }
  .extended-radio > input {
    margin-top: .3em;
    -webkit-appearance: textfield;
    /* Safari and Chrome */
    -moz-appearance: textfield;
    /* Firefox */
    appearance: textfield; }
    .extended-radio > input::-webkit-outer-spin-button, .extended-radio > input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0;
      /* <-- Apparently some margin are still there even though it's hidden */ }

.form-simple {
  font-size: 1.1em;
  max-width: 100%;
  width: 700px;
  padding: 0 5px;
  display: block;
  margin: 0 auto;
  color: #a7a7a7; }
  .form-simple .label {
    display: block;
    color: #646464;
    line-height: 1.3em;
    font-weight: 400; }
  .form-simple .input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 13px;
    display: block;
    font-weight: 200;
    font-size: .8125em;
    width: 100%;
    margin: 8px 0; }
  .form-simple footer {
    text-align: right;
    padding-top: 20px; }
  .form-simple .submit {
    line-height: 1em;
    background-color: #11e9de;
    color: #ffffff; }
    @media (min-width: 768px) {
      .form-simple .submit {
        display: inline-block;
        width: auto; } }

.form-special {
  width: 660px;
  max-width: 100%; }
  .form-special .main legend {
    background-color: #ffffff;
    color: #a7a7a7;
    font-size: 1.35em;
    line-height: 1.4em;
    padding: .7em;
    text-transform: uppercase;
    width: 100%;
    font-weight: 500; }
  .form-special .main .content {
    color: #ffffff;
    background-image: url("images/contact_us.png");
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.1em 1.65em;
    text-align: left; }
    .form-special .main .content header {
      font-weight: 500;
      width: 270px;
      max-width: 100%;
      margin-left: auto; }
    .form-special .main .content .label {
      display: block;
      margin-top: .9em;
      font-weight: normal;
      line-height: 1.3em; }
      .form-special .main .content .label textarea {
        padding-top: .85em;
        padding-bottom: .85em; }
      .form-special .main .content .label .input {
        max-width: 100%;
        display: block;
        border-width: 1px; }
      .form-special .main .content .label textarea.input {
        width: 100%; }
  .form-special .main .input {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #a7a7a7; }
  .form-special .main .actions {
    text-align: right;
    padding-top: .9em;
    word-spacing: .5em; }
    @media (max-width: 768px) {
      .form-special .main .actions label,
      .form-special .main .actions .input {
        margin: .5em 0;
        width: 100%; }
      .form-special .main .actions label {
        width: 100%; } }
    .form-special .main .actions .input {
      padding: .5em 1.8em .4em;
      cursor: pointer;
      background-color: #ffffff; }
      .form-special .main .actions .input:hover {
        background-color: #eee;
        color: black; }
    .form-special .main .actions .submit {
      background-color: #11e9de;
      color: #ffffff; }

.form-inline {
  text-align: center;
  display: block;
  word-spacing: 25px; }
  .form-inline .label {
    color: #646464;
    text-align: center;
    width: 100%;
    word-spacing: 10px;
    padding: 10px; }
    .form-inline .label .input {
      width: 100%; }
    .form-inline .label .submit {
      color: #11e9de;
      font-weight: bold; }
    @media (min-width: 768px) {
      .form-inline .label {
        white-space: nowrap;
        width: auto; }
        .form-inline .label .input {
          width: 250px; }
        .form-inline .label .submit {
          width: auto;
          min-width: 130px; } }

.form-preview {
  font-weight: 100; }
  .form-preview .title {
    font-weight: bold;
    font-size: 1.1em;
    margin: .3em 0;
    color: #646464;
    text-align: center; }
  .form-preview ul {
    font-size: .8em;
    background-color: #f0f0f0;
    color: #969696;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 1em 1.4em .5em;
    line-height: 1em; }
    .form-preview ul li {
      text-align: justify; }
      .form-preview ul li:after {
        content: '';
        display: inline-block;
        width: 100%; }
      .form-preview ul li:last-child {
        font-size: 1.215em; }
      .form-preview ul li:empty {
        content: none; }
      .form-preview ul li > span {
        display: inline-block; }

.editor {
  line-height: 1.43em;
  font-size: 17px;
  overflow: hidden; }
  .editor .fint-huge {
    font-size: 28px; }
  .editor .font-accept {
    color: #11e9de; }
  .editor a:hover {
    text-decoration: underline; }
  .editor .align-right {
    text-align: right; }
  .editor p {
    margin: 1em 0; }

.wa-slider {
  position: relative;
  padding: 0 20px; }
  .wa-slider > ul.slides {
    max-width: 100%;
    word-spacing: -.25em;
    white-space: nowrap;
    overflow: hidden; }
    .wa-slider > ul.slides > li {
      display: inline-block;
      padding: 5px 25px;
      word-spacing: -.25em;
      white-space: nowrap;
      vertical-align: top;
      width: 100%; }
      @media (min-width: 768px) {
        .wa-slider > ul.slides > li {
          width: 33.33%; } }
      .wa-slider > ul.slides > li:before {
        display: inline-block;
        width: 0;
        padding-top: 100%; }
      .wa-slider > ul.slides > li > figure {
        position: relative;
        overflow: hidden;
        width: 100%; }
        .wa-slider > ul.slides > li > figure > img {
          width: 100%;
          height: auto;
          margin: 0 auto; }
        .wa-slider > ul.slides > li > figure > figcaption {
          font-size: 21px;
          background-color: rgba(17, 233, 222, 0.6);
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          text-align: right;
          margin: 0 auto;
          padding: 5px 14px;
          line-height: 1.4em; }
          @media (min-width: 1024px) {
            .wa-slider > ul.slides > li > figure > figcaption {
              position: absolute;
              width: 95%;
              left: 0;
              right: 0;
              bottom: 45px; } }
          .wa-slider > ul.slides > li > figure > figcaption > h3 {
            font-size: 1.1em; }
  .wa-slider > ul.nav > li {
    position: absolute;
    top: 0;
    height: 100%;
    display: inline-block;
    text-align: center;
    cursor: pointer; }
    .wa-slider > ul.nav > li:before, .wa-slider > ul.nav > li:after {
      content: '';
      display: inline-block;
      vertical-align: middle; }
    .wa-slider > ul.nav > li:before {
      height: 100%; }
    .wa-slider > ul.nav > li:after {
      border: solid 15px transparent; }
    .wa-slider > ul.nav > li.prev {
      left: 0; }
      .wa-slider > ul.nav > li.prev:after {
        border-right-color: #eee; }
    .wa-slider > ul.nav > li.next {
      right: 0; }
      .wa-slider > ul.nav > li.next:after {
        border-left-color: #eee; }

.wa-slider > ul.slides > li {
  -webkit-transition: margin-left 0.5s;
  -moz-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  margin-left: 0; }
  .wa-slider > ul.slides > li:first-child {
    margin-left: -100%; }
    @media (min-width: 768px) {
      .wa-slider > ul.slides > li:first-child {
        margin-left: -33.33%; } }

@media (min-width: 1024px) {
  .asided-block {
    padding-right: 500px;
    white-space: nowrap; }
    .asided-block > aside, .asided-block > div {
      display: inline-block;
      vertical-align: middle; }
    .asided-block > aside {
      width: 500px; } }

.asided-block > aside {
  max-width: 100%;
  color: #a7a7a7; }

.asided-block > div {
  width: 100%; }
  .asided-block > div > div.content {
    max-width: 630px;
    padding: 10px; }

.contact-cart {
  position: relative;
  background-color: #ffffff;
  padding-bottom: 20px; }
  .contact-cart:before {
    width: 135px;
    height: 135px;
    display: block;
    position: absolute;
    right: -45px;
    top: -45px;
    background-image: url(images/ok-shield.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  .contact-cart > figure {
    padding: 1px;
    display: block;
    text-align: center; }
    .contact-cart > figure > .img-wrapper {
      width: 145px;
      height: 145px;
      border: 5px solid #11e9de;
      border-radius: 100%;
      margin: 10px auto;
      overflow: hidden; }
      .contact-cart > figure > .img-wrapper > img {
        max-width: 100%;
        height: auto; }
    .contact-cart > figure > figcaption {
      font-size: 1.2em;
      line-height: 1em; }
      .contact-cart > figure > figcaption h3 {
        font-weight: 100; }
  .contact-cart > ul.bordered-list {
    display: block;
    margin-top: 20px; }
    .contact-cart > ul.bordered-list > li {
      border-style: solid;
      border-color: #a7a7a7;
      border-width: 1px 1px 0 1px;
      display: block;
      font-weight: 100;
      font-size: 1.2em;
      padding: 20px 5px 25px;
      text-align: center; }
      .contact-cart > ul.bordered-list > li:last-child {
        border-bottom-width: 1px; }
  .contact-cart > ul.contact-list {
    padding: 40px 30px;
    word-spacing: 25px;
    font-size: 1.2em;
    text-align: left; }
    .contact-cart > ul.contact-list > li {
      padding: 10px 0;
      display: block; }
      .contact-cart > ul.contact-list > li > a {
        word-spacing: .15em; }
      .contact-cart > ul.contact-list > li i {
        font-size: .9em;
        color: #ffffff; }
  @media (min-width: 1024px) {
    .contact-cart {
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      margin-top: 35px; }
      .contact-cart:before {
        content: ''; }
      .contact-cart > figure > .img-wrapper {
        margin: -70px auto 10px; }
      .contact-cart > ul.bordered-list {
        word-spacing: -.25em; }
        .contact-cart > ul.bordered-list > li {
          width: 40%;
          border-width: 1px 1px 1px 0;
          display: inline-block; }
          .contact-cart > ul.bordered-list > li:last-child, .contact-cart > ul.bordered-list > li:first-child {
            width: 30%; }
          .contact-cart > ul.bordered-list > li:last-child {
            border-right-width: 0; }
      .contact-cart > ul.contact-list {
        text-align: center; }
        .contact-cart > ul.contact-list > li {
          display: inline-block; } }

.pair-block {
  font-family: "FaricyNew", Arial, sans-serif;
  word-spacing: .75em;
  color: #698979;
  letter-spacing: 1px; }
  .pair-block > div {
    overflow: hidden;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    display: inline-block;
    line-height: 1.2em;
    padding: 8px 15px; }
    .pair-block > div:first-child {
      text-align: right;
      background-color: #11e9de; }
    .pair-block > div:last-child {
      text-align: left;
      background-color: #fee539; }
    .pair-block > div .title {
      font-weight: bold;
      font-size: 1.25em;
      text-transform: uppercase; }
  .pair-block.transparent > div {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff; }

.contact-block {
  text-align: center;
  font-family: "Raleway", Helvetica, Arial, sans-serif; }
  .contact-block > .head {
    font-size: 19px;
    color: #646464;
    font-weight: 400; }
  .contact-block > p {
    font-size: 14px;
    color: #969696;
    margin: 0 0 13px 0; }
  .contact-block > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #11e9de;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400px;
    cursor: pointer;
    padding: 8px;
    min-width: 215px;
    display: inline-block; }

.make-offer-block {
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  padding: 25px;
  font-family: "Raleway", Helvetica, Arial, sans-serif; }
  .make-offer-block > figure > figcaption {
    padding: 10px 10px 0 10px;
    text-align: left;
    word-spacing: -.3em; }
    .make-offer-block > figure > figcaption > figure.author > .image-wrapper,
    .make-offer-block > figure > figcaption > figure.author > figcaption {
      display: inline-block;
      vertical-align: top; }
    .make-offer-block > figure > figcaption > figure.author > .image-wrapper {
      overflow: hidden;
      width: 60px;
      height: 60px;
      border: 1px solid #11e9de;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      text-align: center;
      white-space: nowrap;
      word-spacing: -.25em; }
      .make-offer-block > figure > figcaption > figure.author > .image-wrapper:before {
        content: '';
        height: 100%;
        vertical-align: middle;
        display: inline-block; }
      .make-offer-block > figure > figcaption > figure.author > .image-wrapper > img {
        max-width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: middle; }
    .make-offer-block > figure > figcaption > figure.author > figcaption {
      font-size: 16px;
      font-weight: 300; }
      .make-offer-block > figure > figcaption > figure.author > figcaption > h4 {
        font-weight: 500;
        color: #000000;
        font-size: 1.15em; }
    .make-offer-block > figure > figcaption > .left {
      font-weight: 400; }
      .make-offer-block > figure > figcaption > .left span {
        color: #000000; }
      .make-offer-block > figure > figcaption > .left > li {
        margin-top: 1em; }
    .make-offer-block > figure > figcaption > .right {
      text-align: center;
      margin-top: 1em;
      font-size: 16px;
      font-weight: 300; }
      .make-offer-block > figure > figcaption > .right .plane-sircle {
        font-size: 30px;
        font-weight: 400;
        font-family: "FaricyNew", Arial, sans-serif; }
      .make-offer-block > figure > figcaption > .right > p {
        padding: 5px 15px; }
  .make-offer-block > h3 {
    text-align: left;
    font-size: 1.25em;
    color: #000000;
    font-weight: 400;
    margin-top: .8em;
    margin-bottom: .8em; }
  .make-offer-block > .editor {
    font-size: 16px;
    text-align: left;
    color: #000000;
    font-weight: 400;
    margin-bottom: 35px; }
  .make-offer-block > .actions {
    text-align: left; }
  @media (min-width: 768px) {
    .make-offer-block > figure {
      word-spacing: -.3em; }
      .make-offer-block > figure > .image-container,
      .make-offer-block > figure > figcaption {
        display: inline-block;
        vertical-align: bottom;
        width: 50%; }
      .make-offer-block > figure > figcaption > figure.author {
        margin-bottom: 62px; }
      .make-offer-block > figure > figcaption > .left,
      .make-offer-block > figure > figcaption > .right {
        display: inline-block;
        vertical-align: middle;
        width: 50%; }
      .make-offer-block > figure > figcaption > .right {
        text-align: right; } }

.plane-sircle {
  display: inline-block;
  width: 3em;
  line-height: 3em;
  text-align: center;
  white-space: nowrap;
  font-weight: 200;
  border: 1px solid #11e9de;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  color: #11e9de; }
  .plane-sircle:before, .plane-sircle:after {
    position: absolute;
    right: -0.1em;
    top: -0.1em; }
  .plane-sircle:before {
    color: #ffffff;
    z-index: 2; }
  .plane-sircle:after {
    content: '';
    width: .7em;
    height: .7em;
    z-index: 1;
    right: 0.1em;
    top: 0.1em;
    background-color: #11e9de; }

.logo img {
  max-width: 100%;
  height: auto; }

.stars {
  background-image: url("images/stars.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .stars:before {
    content: ' ';
    display: inline-block; }

.special-link {
  font-weight: bold;
  border-bottom: 1px solid #646464;
  display: inline-block;
  padding-bottom: .3em; }
