ul.cart-list{
  >li{
    display: block;
    padding: 5px;
    font-family: $mainFont;
    >figure{
      border: 1px solid lighten($inactiveFont, 6.25);
      @include border-radius(5px);
      text-align: center;
      >.img-wrapper{
        width: 220px;
        height: 100%;
        max-width: 100%;
        overflow: hidden;
        margin: 0 auto;
        >img{
          width: 100%;
          height: auto;
        }
      }
      >figcaption{
        text-align: justify;
        width: 100%;
        >.content{
          padding: 20px;
          >p{
            width: 100%;
            >a{
              margin: 0 5px;
            }
          }

          >.right{
            font-size: .9em;
            font-weight: 300;
            >span{
              display: block;
              font-size: 2.05em;
              color: #000000;
              font-weight: 400;
              font-family: $secondaryFont;
              padding-top: 10px;
            }
          }

          figure{
            >.img-wrapper{
              @include border-radius(100%);
              overflow: hidden;
              width: 50px;
              height: 50px;
              >img{
                width: 100%;
                height: auto;
              }
            }
            >.img-wrapper,
            >figcaption{
              display: inline-block;
              vertical-align: middle;
            }
            >figcaption{
              font-weight: 100;
              >h4{
                color: black;
                display: inline-block;
                font-weight: 500;
              }
            }

          }

          h3{
            font-size: 1.2em;
            color: #000000;
            margin: 5px 0 10px;
            font-weight: 400;
          }

          >p{
            a{
              color: #000000;
            }
          }
        }
        >footer{
          margin-top: 15px;
          border-top: 1px solid lighten($inactiveFont, 6.25);
          >.left{
            padding: 0 10px;
            text-align: left;
            font-size: 18px;
            display: block;
          }
          >.right{
            display: block;
            color: $accept;
            border-top: 1px solid lighten($inactiveFont, 6.25);
            padding: 15px 10px;
            font-size: 18px;
            line-height: 1em;
            cursor: pointer;
            text-align: center;
            &:hover{
              background-color: $accept;
              color: $white;
            }
          }
        }
      }
    }
    @media (min-width: $media-sm){
      >figure{
        padding-left: 220px;
        word-spacing: -.3em;
        position: relative;
        >.img-wrapper{
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          border-right: inherit;
        }
        >figcaption{
          >.content{
            text-align: justify;
            figure{
              >.img-wrapper,
              >figcaption{
                display: inline-block;
                vertical-align: middle;
              }
            }
            .left,
            .right{
              display: inline-block;
              vertical-align: middle;
            }
            >p{
              display: inline-block;
              width: 100%;
            }
          }
          >footer{
            font-size: 0px;
            line-height: 0px;
            text-align: justify;
            >.left,
            >.right{
              vertical-align: middle;
              display: inline-block;
              line-height: 1em;
            }
            >.right{
              border-left: 1px solid lighten($inactiveFont, 6.25);
              border-top: 0;
            }
            &:after{
              content: '';
              display: inline-block;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
