.nav-list{
  position: relative;
  >i{
    display: none;
  }
  >ul{
    outline: 0;
    text-align: center;
  }
  >ul{
    word-spacing: 1em;
    line-height: 1.05em;
    >li{
      display: inline-block;
      vertical-align: bottom;
      cursor: pointer;
      span{
        background-color: $accept;
        color: $white;
        @include border-radius(3px);
      }
      a{
        color: $inactiveFont;
      }
      span,a{
        display: block;
        padding: .4em .25em .3em;
      }
      &:hover{
        span,a{
          background-color: $inactive;
        }
      }
    }
  }



  @media (max-width: $media-sm){
    $height: 2em;
    >i{
      font-size: $height;
      display: block;
      cursor: pointer;
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      line-height: 1em;
      text-align: right;
      width: 100%;
      &:before{
        font-size: 100%;
      }
    }
    >ul{
      text-align: left;
      cursor: pointer;
      padding-top: 1.2 * $height;
      max-height: $height;
      overflow: hidden;
      @include transition(1s max-height);
      &:focus{
        max-height: 400px;
        +i{
          z-index: 1;
        }
      }
      >li{
        display: block;
      }
    }
  }
}
