ul.posts{
  word-spacing: -.25em;
  display: block;
  >li{
    display: block;
    padding: 0 20px;
    @media (min-width: $media-sm){
      vertical-align: top;
      display: inline-block;
      width: 33.33%;
    }
    >figure{
      >img{
        width: 100%;
        height: auto;
        display: block;
      }
      >figcaption{
        padding-top: 35px;
        text-align: center;
        h3{
          color: $black;
          font-size: 1.05em;
        }
        p{
          white-space: pre-line;
        }
      }
    }
  }
}
