ul.preview-images-list{
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  display: block;
  position: relative;
  word-spacing: -.3em;
  >li{
    display: inline-block;
    width: 33.33%;
    padding: 5px;
    &:first-child{
      width: 100%;
    }
    >figure{
      border: 1px solid $inactiveFont;
      @include border-radius(5px);
      overflow: hidden;
      width: 100%;
      height: 100%;
      max-height: 100%;
      padding-top: 100%;
      position: relative;
      img{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        display: block;
        height: auto;
      }
    }
  }
  @media (min-width: $media-sm){
    padding-left: 75%;
    >li{
      width: 100%;
      &:first-child{
        width: 75%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      >figure{
        border: 1px solid $inactiveFont;
        @include border-radius(5px);
        overflow: hidden;
        width: 100%;
        height: 100%;
        max-height: 100%;
        padding-top: 100%;
        position: relative;
        img{
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          display: block;
          height: auto;
        }
      }
    }
  }
}
