.product-list{
  text-align: center;
  padding: .7em;
  display: block;
  // Mobile view
  thead{
    display: none;
  }
  tbody{
    display: block;
    $headSize: 33%;
    tr{
      display: block;
      border-style: solid;
      border-color: #ccc;
      border-width: 1px 1px 0;
      &:last-child{
        border-bottom-width: 1px;
      }

    }
    td{
      position: relative;
      padding: .55em;
      line-height: 1.4em;
      display: block;
      border-top: 1px solid #eee;
      &:first-child{
        border-top-width: 0;
      }
      &[data-head]{
        padding-left: $headSize;
        padding-right: $headSize;
        &:before{
          content: attr(data-head);
          display: inline-block;
          text-align: center;
          width: $headSize;
          position: absolute;
          left: 0;
          top: 0;
          padding-top: inherit;
        }
      }
      a.submit{
        display: inline-block;
        padding: .9em;
        line-height: 1em;
        vertical-align: middle;
        color: $accept;
        width: 30%;
        &:hover{
          background-color: $inactive;
        }
      }
    }
  }
  //Desctop view
  @media (min-width: $media-sm){
    display: table;
    thead{
      display: table-header-group;
      border-bottom: 2px solid #ddd;
      th{
        display: table-cell;
        font-size: 1.3em;
        font-weight: bold;
        padding: 8px;
        line-height: 1.4em;
        &.header{
          font-size: 1.8em;
          opacity: .8;
          color: $inactiveFont;
          font-family: $secondaryFont;
          text-transform: uppercase;
          padding-bottom: 28px;
        }
      }
    }
    tbody{
      display: table-row-group;
      tr{
        display: table-row;
        border-width: 0;
      }
      td{
        display: table-cell;
        border-top-width: 0;
        vertical-align: middle;
        &[data-head]{
          padding-left: .55em;
          padding-right: .55em;
          &:before{
            content: none;
          }
        }
        img{
          width: 100%;
          max-width: 140px;
          height: auto;
          display: inline-block;
        }
        a.submit{
          width: auto;
        }
      }
    }
  }

}
