ul.reviews{
  li{
    padding: 10px;
    display: block;
    figure{
      >.image-wrapper,
      >figcaption{
        display: inline-block;
        vertical-align: middle;
      }
      >.image-wrapper{
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 1px solid $accept;
        position: relative;
        @include border-radius(100%);
        &:before{
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          border: 3px solid $white;
          @include border-radius(inherit);
        }
        >img{
          width: 100%;
          height: auto;
        }
      }

      >figcaption{
        font-style: italic;
        >h3{
          font-style: normal;
          display: inline-block;
          vertical-align: middle;
          font-weight: bold;
          color: darken($inactiveFont, 6.5);
          margin: 0 20px;
        }
      }

    }
  }
}
