ul.wa-thumbs{
  >li{
    $imageSize: 105px;
    $margin: 45px;
    $shif: $imageSize + $margin;
    display: block;
    padding: 0 20px 0px 20px;
    text-align: center;
    @media (min-width: $media-sm){
      &:nth-child(even){
        direction: rtl;
        text-align: right;
        >figure{
          padding-right: $shif;
          >img{
            margin-right: -$shif;
            margin-left: $margin;
          }
        }
      }
      &:nth-child(odd){
        direction: ltr;
        text-align: left;
        >figure{
          padding-left: $shif;
          >img{
            margin-left: -$shif;
            margin-right: $margin;
          }
        }
      }
    }
    >figure{
      max-width: 720px;
      display: block;
      word-spacing: -.25em;
      >img{
        width: $imageSize;
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      >figcaption{
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        font-weight: 100;
        padding: 10px 0;
        direction: ltr;
        >h3{
          font-size: 1.18em;
          color: $black;
          margin-bottom: 1em;
          font-weight: bold;
        }
      }
    }
  }
}

ul.wa-thumbs.huge{
  >li{
    $imageSize: 150px;
    $margin: 70px;
    $shif: $imageSize + $margin;
    padding: 40px 10px;
    @media (min-width: $media-sm){
      &:nth-child(even){

        >figure{
          padding-right: $shif;
          >img{
            margin-right: -$shif;
            margin-left: $margin;
          }
        }
      }
      &:nth-child(odd){

        >figure{
          padding-left: $shif;
          >img{
            margin-left: -$shif;
            margin-right: $margin;
          }
        }
      }
    }
    >figure{
      max-width: 920px;
      >img{
        width: $imageSize;
      }
      >figcaption{
        font-size: 1.4em;
        >h3{
          font-size: 1.3em;
        }
      }
    }
  }
}
